body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38753 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u38754 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u38755 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u38756 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u38757 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u38758 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:621px;
}
#u38759 {
  position:absolute;
  left:0px;
  top:60px;
  width:239px;
  height:621px;
}
#u38760 {
  position:absolute;
  left:2px;
  top:302px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:309px;
  background:inherit;
  background-color:rgba(234, 242, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38761 {
  position:absolute;
  left:0px;
  top:681px;
  width:239px;
  height:309px;
}
#u38762 {
  position:absolute;
  left:2px;
  top:146px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:2px;
}
#u38763 {
  position:absolute;
  left:261px;
  top:113px;
  width:1171px;
  height:1px;
}
#u38764 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38765 {
  position:absolute;
  left:261px;
  top:78px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u38766 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u38767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:673px;
}
#u38767 {
  position:absolute;
  left:261px;
  top:137px;
  width:924px;
  height:673px;
}
#u38768 {
  position:absolute;
  left:2px;
  top:328px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38769 {
  position:absolute;
  left:1292px;
  top:68px;
  width:140px;
  height:40px;
}
#u38770 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
