body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40266 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u40267 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u40268 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u40269 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u40270 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u40271 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:621px;
}
#u40272 {
  position:absolute;
  left:0px;
  top:60px;
  width:239px;
  height:621px;
}
#u40273 {
  position:absolute;
  left:2px;
  top:302px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:309px;
  background:inherit;
  background-color:rgba(234, 242, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40274 {
  position:absolute;
  left:0px;
  top:681px;
  width:239px;
  height:309px;
}
#u40275 {
  position:absolute;
  left:2px;
  top:146px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:2px;
}
#u40276 {
  position:absolute;
  left:261px;
  top:113px;
  width:1171px;
  height:1px;
}
#u40277 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40278 {
  position:absolute;
  left:261px;
  top:78px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40279 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u40280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:924px;
  height:673px;
}
#u40280 {
  position:absolute;
  left:261px;
  top:137px;
  width:924px;
  height:673px;
}
#u40281 {
  position:absolute;
  left:2px;
  top:328px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40282 {
  position:absolute;
  left:1292px;
  top:68px;
  width:140px;
  height:40px;
}
#u40283 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
