body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:401px;
}
#u8084 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:400px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8085 {
  position:absolute;
  left:2px;
  top:191px;
  width:1436px;
  word-wrap:break-word;
}
#u8086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:2px;
}
#u8087 {
  position:absolute;
  left:135px;
  top:456px;
  width:1170px;
  height:1px;
}
#u8088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8089 {
  position:absolute;
  left:162px;
  top:424px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u8090 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:290px;
}
#u8091 {
  position:absolute;
  left:135px;
  top:602px;
  width:876px;
  height:290px;
}
#u8092 {
  position:absolute;
  left:2px;
  top:137px;
  width:872px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 249, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 237, 210, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u8093 {
  position:absolute;
  left:135px;
  top:498px;
  width:876px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u8094 {
  position:absolute;
  left:10px;
  top:5px;
  width:856px;
  word-wrap:break-word;
}
#u8095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8095 {
  position:absolute;
  left:135px;
  top:472px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8096 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:33px;
}
#u8097 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8098 {
  position:absolute;
  left:2px;
  top:8px;
  width:1436px;
  word-wrap:break-word;
}
