body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:957px;
}
#u18541 {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:957px;
}
#u18542 {
  position:absolute;
  left:2px;
  top:471px;
  width:1434px;
  word-wrap:break-word;
}
#u18543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u18543 {
  position:absolute;
  left:1024px;
  top:890px;
  width:300px;
  height:170px;
}
#u18544 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18545 {
  position:absolute;
  left:1010px;
  top:619px;
  width:301px;
  height:18px;
}
#u18546 {
  position:absolute;
  left:16px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u18545_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18547 {
  position:absolute;
  left:1180px;
  top:619px;
  width:18px;
  height:18px;
}
#u18548 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:32px;
}
#u18550 {
  position:absolute;
  left:1105px;
  top:573px;
  width:251px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:18px;
}
#u18551 {
  position:absolute;
  left:8px;
  top:7px;
  width:235px;
  white-space:nowrap;
}
#u18552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u18552 {
  position:absolute;
  left:1183px;
  top:603px;
  width:10px;
  height:6px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u18553 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18554 {
  position:absolute;
  left:1031px;
  top:916px;
  width:159px;
  height:170px;
}
#u18554_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18555 {
  position:absolute;
  left:1200px;
  top:962px;
  width:29px;
  height:25px;
}
#u18555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u18556 {
  position:absolute;
  left:1200px;
  top:997px;
  width:29px;
  height:25px;
}
#u18556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u18557 {
  position:absolute;
  left:1239px;
  top:916px;
  width:159px;
  height:170px;
}
#u18557_input {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18558 {
  position:absolute;
  left:1031px;
  top:890px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18559 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18560 {
  position:absolute;
  left:1239px;
  top:890px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18561 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18562 {
  position:absolute;
  left:1408px;
  top:916px;
  width:30px;
  height:25px;
}
#u18562_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u18563 {
  position:absolute;
  left:1408px;
  top:951px;
  width:30px;
  height:25px;
}
#u18563_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u18564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18564 {
  position:absolute;
  left:1031px;
  top:815px;
  width:300px;
  height:35px;
}
#u18565 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
