body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1432px;
  height:755px;
}
#u6467 {
  position:absolute;
  left:109px;
  top:8px;
  width:1432px;
  height:755px;
}
#u6468 {
  position:absolute;
  left:2px;
  top:370px;
  width:1428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:587px;
}
#u6469 {
  position:absolute;
  left:349px;
  top:405px;
  width:958px;
  height:587px;
}
#u6470 {
  position:absolute;
  left:2px;
  top:286px;
  width:954px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6471 {
  position:absolute;
  left:405px;
  top:858px;
  width:140px;
  height:40px;
}
#u6472 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u6473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6473 {
  position:absolute;
  left:405px;
  top:417px;
  width:99px;
  height:20px;
}
#u6474 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u6475 {
  position:absolute;
  left:405px;
  top:447px;
  width:842px;
  height:1px;
}
#u6476 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6478 {
  position:absolute;
  left:405px;
  top:466px;
  width:842px;
  height:38px;
  text-align:left;
}
#u6479 {
  position:absolute;
  left:10px;
  top:10px;
  width:830px;
  word-wrap:break-word;
}
#u6480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u6480 {
  position:absolute;
  left:1226px;
  top:482px;
  width:14px;
  height:8px;
}
#u6481 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:208px;
}
#u6482 {
  position:absolute;
  left:405px;
  top:514px;
  width:247px;
  height:208px;
}
#u6483 {
  position:absolute;
  left:2px;
  top:96px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6484 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6485 {
  position:absolute;
  left:405px;
  top:741px;
  width:842px;
  height:38px;
  text-align:left;
}
#u6486 {
  position:absolute;
  left:10px;
  top:10px;
  width:830px;
  word-wrap:break-word;
}
#u6487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u6487 {
  position:absolute;
  left:1226px;
  top:757px;
  width:14px;
  height:8px;
}
#u6488 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6490 {
  position:absolute;
  left:405px;
  top:778px;
  width:842px;
  height:38px;
  text-align:left;
}
#u6491 {
  position:absolute;
  left:10px;
  top:10px;
  width:830px;
  word-wrap:break-word;
}
#u6492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u6492 {
  position:absolute;
  left:1226px;
  top:794px;
  width:14px;
  height:8px;
}
#u6493 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6494 {
  position:absolute;
  left:1122px;
  top:858px;
  width:125px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6495 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u6496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u6496 {
  position:absolute;
  left:405px;
  top:840px;
  width:842px;
  height:1px;
}
#u6497 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
