body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:2156px;
}
#u8147 {
  position:absolute;
  left:0px;
  top:0px;
  width:1425px;
  height:2156px;
}
#u8148 {
  position:absolute;
  left:2px;
  top:1070px;
  width:1421px;
  visibility:hidden;
  word-wrap:break-word;
}
