body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1477px;
}
#u14233 {
  position:absolute;
  left:0px;
  top:55px;
  width:1440px;
  height:1477px;
}
#u14234 {
  position:absolute;
  left:2px;
  top:730px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1899px;
}
#u14235 {
  position:absolute;
  left:1601px;
  top:55px;
  width:1440px;
  height:1899px;
}
#u14236 {
  position:absolute;
  left:2px;
  top:942px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1899px;
}
#u14237 {
  position:absolute;
  left:3220px;
  top:55px;
  width:1440px;
  height:1899px;
}
#u14238 {
  position:absolute;
  left:2px;
  top:942px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14239 {
  position:absolute;
  left:28px;
  top:14px;
  width:127px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14240 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u14241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14241 {
  position:absolute;
  left:1601px;
  top:16px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14242 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14243 {
  position:absolute;
  left:3220px;
  top:18px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14244 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
