body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3073px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1641px;
}
#u14735 {
  position:absolute;
  left:0px;
  top:46px;
  width:1440px;
  height:1641px;
}
#u14736 {
  position:absolute;
  left:2px;
  top:812px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1477px;
}
#u14737 {
  position:absolute;
  left:1633px;
  top:46px;
  width:1440px;
  height:1477px;
}
#u14738 {
  position:absolute;
  left:2px;
  top:730px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14739 {
  position:absolute;
  left:0px;
  top:8px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14740 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14741 {
  position:absolute;
  left:1633px;
  top:8px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14742 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:89px;
}
#u14743 {
  position:absolute;
  left:1013px;
  top:715px;
  width:316px;
  height:89px;
}
#u14744 {
  position:absolute;
  left:2px;
  top:36px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
