body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40007 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u40008 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u40009 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u40010 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u40011 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u40012 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40013 {
  position:absolute;
  left:148px;
  top:81px;
  width:163px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40014 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u40015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:126px;
}
#u40016 {
  position:absolute;
  left:148px;
  top:125px;
  width:118px;
  height:125px;
}
#u40017 {
  position:absolute;
  left:2px;
  top:54px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u40018 {
  position:absolute;
  left:179px;
  top:260px;
  width:57px;
  height:20px;
  text-align:center;
}
#u40019 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:126px;
}
#u40021 {
  position:absolute;
  left:309px;
  top:125px;
  width:118px;
  height:125px;
}
#u40022 {
  position:absolute;
  left:2px;
  top:54px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u40023 {
  position:absolute;
  left:345px;
  top:260px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u40024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:126px;
}
#u40026 {
  position:absolute;
  left:472px;
  top:125px;
  width:118px;
  height:125px;
}
#u40027 {
  position:absolute;
  left:2px;
  top:54px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u40028 {
  position:absolute;
  left:507px;
  top:260px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u40029 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
