body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2057px;
}
#u28980 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2057px;
}
#u28981 {
  position:absolute;
  left:2px;
  top:1020px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:170px;
}
#u28982 {
  position:absolute;
  left:342px;
  top:1675px;
  width:763px;
  height:170px;
}
#u28983 {
  position:absolute;
  left:2px;
  top:77px;
  width:759px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u28984 {
  position:absolute;
  left:342px;
  top:1675px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u28985 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u28986 {
  position:absolute;
  left:342px;
  top:1723px;
  width:100px;
  height:18px;
}
#u28987 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u28986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:918px;
  height:2px;
}
#u28988 {
  position:absolute;
  left:342px;
  top:1707px;
  width:917px;
  height:1px;
}
#u28989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
