body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:831px;
}
#u34998 {
  position:absolute;
  left:34px;
  top:104px;
  width:375px;
  height:831px;
}
#u34999 {
  position:absolute;
  left:2px;
  top:408px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:831px;
}
#u35000 {
  position:absolute;
  left:545px;
  top:104px;
  width:375px;
  height:831px;
}
#u35001 {
  position:absolute;
  left:2px;
  top:408px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
