body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1755px;
}
#u13985 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1755px;
}
#u13986 {
  position:absolute;
  left:2px;
  top:870px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1755px;
}
#u13987 {
  position:absolute;
  left:1593px;
  top:0px;
  width:1440px;
  height:1755px;
}
#u13988 {
  position:absolute;
  left:2px;
  top:870px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
