body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3033px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1755px;
}
#u14475 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1755px;
}
#u14476 {
  position:absolute;
  left:2px;
  top:870px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1755px;
}
#u14477 {
  position:absolute;
  left:1593px;
  top:0px;
  width:1440px;
  height:1755px;
}
#u14478 {
  position:absolute;
  left:2px;
  top:870px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
