body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:934px;
}
#u6988 {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:934px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:459px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
}
#u6990 {
  position:absolute;
  left:286px;
  top:54px;
  width:300px;
  height:43px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6992 {
  position:absolute;
  left:301px;
  top:68px;
  width:57px;
  height:20px;
}
#u6993 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:713px;
}
#u6994 {
  position:absolute;
  left:239px;
  top:406px;
  width:960px;
  height:713px;
}
#u6995 {
  position:absolute;
  left:2px;
  top:348px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:315px;
}
#u6996 {
  position:absolute;
  left:292px;
  top:745px;
  width:888px;
  height:315px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:150px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:287px;
}
#u6998 {
  position:absolute;
  left:301px;
  top:428px;
  width:841px;
  height:287px;
}
#u6999 {
  position:absolute;
  left:2px;
  top:136px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
