body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:934px;
}
#u6498 {
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:934px;
}
#u6499 {
  position:absolute;
  left:2px;
  top:459px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
}
#u6500 {
  position:absolute;
  left:286px;
  top:54px;
  width:300px;
  height:43px;
}
#u6501 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6502 {
  position:absolute;
  left:301px;
  top:68px;
  width:57px;
  height:20px;
}
#u6503 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:713px;
}
#u6504 {
  position:absolute;
  left:239px;
  top:406px;
  width:960px;
  height:713px;
}
#u6505 {
  position:absolute;
  left:2px;
  top:348px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:315px;
}
#u6506 {
  position:absolute;
  left:292px;
  top:745px;
  width:888px;
  height:315px;
}
#u6507 {
  position:absolute;
  left:2px;
  top:150px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:287px;
}
#u6508 {
  position:absolute;
  left:301px;
  top:428px;
  width:841px;
  height:287px;
}
#u6509 {
  position:absolute;
  left:2px;
  top:136px;
  width:837px;
  visibility:hidden;
  word-wrap:break-word;
}
