body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1693px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1693px;
  height:2091px;
}
#u34994 {
  position:absolute;
  left:0px;
  top:0px;
  width:1693px;
  height:2091px;
}
#u34995 {
  position:absolute;
  left:2px;
  top:1038px;
  width:1689px;
  visibility:hidden;
  word-wrap:break-word;
}
