body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:664px;
}
#u8573 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:664px;
}
#u8574 {
  position:absolute;
  left:2px;
  top:324px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  background:inherit;
  background-color:rgba(254, 237, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 237, 210, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8575 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8576 {
  position:absolute;
  left:2px;
  top:21px;
  width:369px;
  word-wrap:break-word;
}
#u8577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8577 {
  position:absolute;
  left:223px;
  top:15px;
  width:81px;
  height:31px;
  font-size:12px;
}
#u8578 {
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
