body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1455px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:958px;
}
#u23837 {
  position:absolute;
  left:0px;
  top:0px;
  width:1455px;
  height:958px;
}
#u23838 {
  position:absolute;
  left:2px;
  top:471px;
  width:1451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:4px;
}
#u23839 {
  position:absolute;
  left:1422px;
  top:242px;
  width:7px;
  height:4px;
}
#u23840 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23841 {
  position:absolute;
  left:1325px;
  top:263px;
  width:113px;
  height:68px;
}
#u23842 {
  position:absolute;
  left:2px;
  top:26px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:2px;
}
#u23843 {
  position:absolute;
  left:1325px;
  top:297px;
  width:113px;
  height:1px;
}
#u23844 {
  position:absolute;
  left:2px;
  top:-8px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23845 {
  position:absolute;
  left:1334px;
  top:271px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23846 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23847 {
  position:absolute;
  left:1334px;
  top:303px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23848 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
