body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:8017px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1745px;
}
#u8619 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1745px;
}
#u8620 {
  position:absolute;
  left:2px;
  top:864px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1404px;
}
#u8621 {
  position:absolute;
  left:1611px;
  top:0px;
  width:1440px;
  height:1404px;
}
#u8622 {
  position:absolute;
  left:2px;
  top:694px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1547px;
}
#u8623 {
  position:absolute;
  left:3217px;
  top:0px;
  width:1440px;
  height:1547px;
}
#u8624 {
  position:absolute;
  left:2px;
  top:766px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2455px;
}
#u8625 {
  position:absolute;
  left:4886px;
  top:0px;
  width:1440px;
  height:2455px;
}
#u8626 {
  position:absolute;
  left:2px;
  top:1220px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u8627 {
  position:absolute;
  left:6577px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u8628 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
