body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:8017px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1745px;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1745px;
}
#u8130 {
  position:absolute;
  left:2px;
  top:864px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1404px;
}
#u8131 {
  position:absolute;
  left:1611px;
  top:0px;
  width:1440px;
  height:1404px;
}
#u8132 {
  position:absolute;
  left:2px;
  top:694px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1547px;
}
#u8133 {
  position:absolute;
  left:3217px;
  top:0px;
  width:1440px;
  height:1547px;
}
#u8134 {
  position:absolute;
  left:2px;
  top:766px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2455px;
}
#u8135 {
  position:absolute;
  left:4886px;
  top:0px;
  width:1440px;
  height:2455px;
}
#u8136 {
  position:absolute;
  left:2px;
  top:1220px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u8137 {
  position:absolute;
  left:6577px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u8138 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
