body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1354px;
  height:105px;
}
#u35044 {
  position:absolute;
  left:22px;
  top:0px;
  width:1354px;
  height:105px;
}
#u35045 {
  position:absolute;
  left:2px;
  top:44px;
  width:1350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:578px;
}
#u35047 {
  position:absolute;
  left:524px;
  top:142px;
  width:402px;
  height:578px;
}
#u35048 {
  position:absolute;
  left:2px;
  top:281px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:578px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u35049 {
  position:absolute;
  left:526px;
  top:142px;
  width:402px;
  height:578px;
  opacity:0.6;
  font-size:14px;
  color:#CCCCCC;
}
#u35050 {
  position:absolute;
  left:2px;
  top:281px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35051 {
  position:absolute;
  left:658px;
  top:250px;
  width:337px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u35052 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u35053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u35053 {
  position:absolute;
  left:686px;
  top:308px;
  width:337px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u35054 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u35055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u35055 {
  position:absolute;
  left:676px;
  top:337px;
  width:337px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u35056 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u35057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:76px;
}
#u35057 {
  position:absolute;
  left:686px;
  top:485px;
  width:78px;
  height:76px;
}
#u35058 {
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u35059 {
  position:absolute;
  left:658px;
  top:409px;
  width:337px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u35060 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u35061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u35061 {
  position:absolute;
  left:658px;
  top:437px;
  width:337px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u35062 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u35063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u35063 {
  position:absolute;
  left:671px;
  top:569px;
  width:337px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u35064 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  word-wrap:break-word;
}
#u35065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:600px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35065 {
  position:absolute;
  left:22px;
  top:105px;
  width:78px;
  height:600px;
}
#u35066 {
  position:absolute;
  left:2px;
  top:292px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:41px;
}
#u35067 {
  position:absolute;
  left:40px;
  top:213px;
  width:45px;
  height:40px;
}
#u35068 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u35069 {
  position:absolute;
  left:48px;
  top:263px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u35070 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:41px;
}
#u35071 {
  position:absolute;
  left:40px;
  top:293px;
  width:45px;
  height:40px;
}
#u35072 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u35073 {
  position:absolute;
  left:47px;
  top:343px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u35074 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:41px;
}
#u35075 {
  position:absolute;
  left:40px;
  top:376px;
  width:45px;
  height:40px;
}
#u35076 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u35077 {
  position:absolute;
  left:47px;
  top:426px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u35078 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35079 {
  position:absolute;
  left:100px;
  top:105px;
  width:240px;
  height:600px;
}
#u35080 {
  position:absolute;
  left:2px;
  top:292px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u35081 {
  position:absolute;
  left:732px;
  top:513px;
  width:84px;
  height:37px;
}
#u35082 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u35083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u35083 {
  position:absolute;
  left:726px;
  top:560px;
  width:134px;
  height:37px;
}
#u35084 {
  position:absolute;
  left:10px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u35085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:41px;
}
#u35085 {
  position:absolute;
  left:40px;
  top:124px;
  width:45px;
  height:40px;
}
#u35086 {
  position:absolute;
  left:2px;
  top:12px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u35087 {
  position:absolute;
  left:48px;
  top:174px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u35088 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u35089 {
  position:absolute;
  left:665px;
  top:523px;
  width:37px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u35090 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u35091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:23px;
}
#u35091 {
  position:absolute;
  left:53px;
  top:72px;
  width:307px;
  height:23px;
}
#u35092 {
  position:absolute;
  left:2px;
  top:4px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35093 {
  position:absolute;
  left:65px;
  top:76px;
  width:155px;
  height:16px;
}
#u35094 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u35095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u35095 {
  position:absolute;
  left:22px;
  top:43px;
  width:134px;
  height:49px;
}
#u35096 {
  position:absolute;
  left:10px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u35097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:131px;
}
#u35097 {
  position:absolute;
  left:110px;
  top:124px;
  width:101px;
  height:130px;
}
#u35098 {
  position:absolute;
  left:2px;
  top:57px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:131px;
}
#u35099 {
  position:absolute;
  left:229px;
  top:124px;
  width:101px;
  height:130px;
}
#u35100 {
  position:absolute;
  left:2px;
  top:57px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:131px;
}
#u35101 {
  position:absolute;
  left:110px;
  top:264px;
  width:101px;
  height:130px;
}
#u35102 {
  position:absolute;
  left:2px;
  top:57px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:131px;
}
#u35103 {
  position:absolute;
  left:229px;
  top:264px;
  width:101px;
  height:130px;
}
#u35104 {
  position:absolute;
  left:2px;
  top:57px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:131px;
}
#u35105 {
  position:absolute;
  left:110px;
  top:404px;
  width:101px;
  height:130px;
}
#u35106 {
  position:absolute;
  left:2px;
  top:57px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35107 {
  position:absolute;
  left:1216px;
  top:73px;
  width:34px;
  height:22px;
  opacity:0.5;
}
#u35108 {
  position:absolute;
  left:2px;
  top:3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u35109 {
  position:absolute;
  left:1018px;
  top:437px;
  width:220px;
  height:255px;
}
#u35110 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  word-wrap:break-word;
}
