body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40712 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u40713 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u40714 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u40715 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u40716 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u40717 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1043px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40718 {
  position:absolute;
  left:0px;
  top:60px;
  width:1440px;
  height:1043px;
}
#u40719 {
  position:absolute;
  left:2px;
  top:514px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40720 {
  position:absolute;
  left:648px;
  top:1007px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40721 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u40722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40723 {
  position:absolute;
  left:689px;
  top:89px;
  width:140px;
  height:43px;
}
#u40724 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40725 {
  position:absolute;
  left:728px;
  top:101px;
  width:57px;
  height:20px;
}
#u40726 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u40727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:794px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u40727 {
  position:absolute;
  left:390px;
  top:165px;
  width:689px;
  height:794px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u40728 {
  position:absolute;
  left:2px;
  top:2px;
  width:685px;
  word-wrap:break-word;
}
#u40729 {
  position:absolute;
  left:390px;
  top:976px;
  width:192px;
  height:18px;
}
#u40730 {
  position:absolute;
  left:16px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u40729_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
