body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3332px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:794px;
}
#u18876 {
  position:absolute;
  left:600px;
  top:192px;
  width:380px;
  height:794px;
}
#u18877 {
  position:absolute;
  left:2px;
  top:389px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:472px;
}
#u18878 {
  position:absolute;
  left:30px;
  top:1403px;
  width:264px;
  height:472px;
}
#u18879 {
  position:absolute;
  left:2px;
  top:228px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18880 {
  position:absolute;
  left:126px;
  top:1345px;
  width:113px;
  height:16px;
}
#u18881 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u18882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:465px;
}
#u18882 {
  position:absolute;
  left:304px;
  top:1390px;
  width:304px;
  height:465px;
}
#u18883 {
  position:absolute;
  left:2px;
  top:224px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:473px;
}
#u18884 {
  position:absolute;
  left:618px;
  top:1382px;
  width:284px;
  height:473px;
}
#u18885 {
  position:absolute;
  left:2px;
  top:228px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:500px;
}
#u18886 {
  position:absolute;
  left:1264px;
  top:1375px;
  width:281px;
  height:500px;
}
#u18887 {
  position:absolute;
  left:2px;
  top:242px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:550px;
}
#u18888 {
  position:absolute;
  left:1555px;
  top:1379px;
  width:316px;
  height:550px;
}
#u18889 {
  position:absolute;
  left:2px;
  top:267px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:480px;
}
#u18890 {
  position:absolute;
  left:912px;
  top:1375px;
  width:305px;
  height:480px;
}
#u18891 {
  position:absolute;
  left:2px;
  top:232px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:760px;
}
#u18892 {
  position:absolute;
  left:1881px;
  top:1390px;
  width:1460px;
  height:760px;
}
#u18893 {
  position:absolute;
  left:2px;
  top:372px;
  width:1456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:1072px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18894 {
  position:absolute;
  left:0px;
  top:128px;
  width:92px;
  height:1072px;
}
#u18895 {
  position:absolute;
  left:2px;
  top:528px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18897 {
  position:absolute;
  left:-9px;
  top:0px;
  width:1440px;
  height:60px;
}
#u18898 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u18899 {
  position:absolute;
  left:141px;
  top:15px;
  width:103px;
  height:30px;
}
#u18900 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u18901 {
  position:absolute;
  left:1228px;
  top:20px;
  width:52px;
  height:20px;
}
#u18902 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18904 {
  position:absolute;
  left:287px;
  top:10px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18905 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u18906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u18906 {
  position:absolute;
  left:320px;
  top:18px;
  width:24px;
  height:24px;
}
#u18907 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18908 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18909 {
  position:absolute;
  left:1107px;
  top:10px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u18910 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u18912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:68px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18913 {
  position:absolute;
  left:-9px;
  top:60px;
  width:1440px;
  height:68px;
}
#u18914 {
  position:absolute;
  left:2px;
  top:26px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u18916 {
  position:absolute;
  left:141px;
  top:84px;
  width:22px;
  height:20px;
}
#u18917 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9933;
}
#u18918 {
  position:absolute;
  left:173px;
  top:81px;
  width:55px;
  height:25px;
  font-size:18px;
  color:#FF9933;
}
#u18919 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u18920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u18920 {
  position:absolute;
  left:253px;
  top:86px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u18921 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18922 {
  position:absolute;
  left:303px;
  top:86px;
  width:29px;
  height:20px;
}
#u18923 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18924 {
  position:absolute;
  left:353px;
  top:86px;
  width:29px;
  height:20px;
}
#u18925 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18926 {
  position:absolute;
  left:403px;
  top:86px;
  width:45px;
  height:20px;
}
#u18927 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u18928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18928 {
  position:absolute;
  left:473px;
  top:86px;
  width:71px;
  height:20px;
}
#u18929 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18930 {
  position:absolute;
  left:774px;
  top:86px;
  width:29px;
  height:20px;
}
#u18931 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18932 {
  position:absolute;
  left:834px;
  top:86px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18933 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18934 {
  position:absolute;
  left:934px;
  top:86px;
  width:43px;
  height:20px;
}
#u18935 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18936 {
  position:absolute;
  left:1004px;
  top:86px;
  width:57px;
  height:20px;
}
#u18937 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u18939 {
  position:absolute;
  left:671px;
  top:83px;
  width:13px;
  height:22px;
}
#u18940 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9933;
}
#u18941 {
  position:absolute;
  left:692px;
  top:82px;
  width:55px;
  height:25px;
  font-size:18px;
  color:#FF9933;
}
#u18942 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u18943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18943 {
  position:absolute;
  left:1086px;
  top:86px;
  width:43px;
  height:20px;
}
#u18944 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u18945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18945 {
  position:absolute;
  left:64px;
  top:138px;
  width:20px;
  height:20px;
}
#u18946 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18948 {
  position:absolute;
  left:17px;
  top:174px;
  width:60px;
  height:60px;
}
#u18949 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18950 {
  position:absolute;
  left:31px;
  top:235px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18951 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18953 {
  position:absolute;
  left:16px;
  top:276px;
  width:60px;
  height:60px;
}
#u18954 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18955 {
  position:absolute;
  left:30px;
  top:337px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18956 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18958 {
  position:absolute;
  left:16px;
  top:380px;
  width:60px;
  height:60px;
}
#u18959 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18960 {
  position:absolute;
  left:30px;
  top:441px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18961 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18963 {
  position:absolute;
  left:16px;
  top:482px;
  width:60px;
  height:60px;
}
#u18964 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18965 {
  position:absolute;
  left:18px;
  top:543px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1072px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18967 {
  position:absolute;
  left:91px;
  top:128px;
  width:300px;
  height:1072px;
}
#u18968 {
  position:absolute;
  left:2px;
  top:528px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u18969 {
  position:absolute;
  left:367px;
  top:138px;
  width:17px;
  height:17px;
}
#u18970 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18971 {
  position:absolute;
  left:118px;
  top:276px;
  width:179px;
  height:18px;
}
#u18972 {
  position:absolute;
  left:16px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u18971_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18973 {
  position:absolute;
  left:118px;
  top:304px;
  width:179px;
  height:18px;
}
#u18974 {
  position:absolute;
  left:16px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u18973_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18975 {
  position:absolute;
  left:118px;
  top:335px;
  width:209px;
  height:18px;
}
#u18976 {
  position:absolute;
  left:16px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u18975_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18977 {
  position:absolute;
  left:111px;
  top:852px;
  width:179px;
  height:18px;
}
#u18978 {
  position:absolute;
  left:16px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u18977_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18979 {
  position:absolute;
  left:133px;
  top:877px;
  width:206px;
  height:25px;
}
#u18979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18980 {
  position:absolute;
  left:111px;
  top:932px;
  width:86px;
  height:40px;
}
#u18981 {
  position:absolute;
  left:2px;
  top:11px;
  width:82px;
  word-wrap:break-word;
}
#u18982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18982 {
  position:absolute;
  left:215px;
  top:932px;
  width:140px;
  height:40px;
}
#u18983 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u18982_ann {
  position:absolute;
  left:348px;
  top:928px;
  width:1px;
  height:1px;
}
#u18984 {
  position:absolute;
  left:118px;
  top:366px;
  width:179px;
  height:18px;
}
#u18985 {
  position:absolute;
  left:16px;
  top:0px;
  width:161px;
  word-wrap:break-word;
}
#u18984_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18986 {
  position:absolute;
  left:111px;
  top:239px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18987 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18988 {
  position:absolute;
  left:133px;
  top:193px;
  width:127px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18989 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u18990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18990 {
  position:absolute;
  left:111px;
  top:409px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18991 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:287px;
}
#u18992 {
  position:absolute;
  left:112px;
  top:441px;
  width:267px;
  height:287px;
}
#u18993 {
  position:absolute;
  left:2px;
  top:136px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18994 {
  position:absolute;
  left:132px;
  top:156px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18995 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18996 {
  position:absolute;
  left:109px;
  top:158px;
  width:100px;
  height:16px;
}
#u18997 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18996_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18998 {
  position:absolute;
  left:109px;
  top:193px;
  width:100px;
  height:16px;
}
#u18999 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18998_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:125px;
}
#u19000 {
  position:absolute;
  left:118px;
  top:710px;
  width:275px;
  height:125px;
}
#u19001 {
  position:absolute;
  left:2px;
  top:54px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:794px;
}
#u19002 {
  position:absolute;
  left:2116px;
  top:192px;
  width:380px;
  height:794px;
}
#u19003 {
  position:absolute;
  left:2px;
  top:389px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:1072px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19004 {
  position:absolute;
  left:1516px;
  top:128px;
  width:92px;
  height:1072px;
}
#u19005 {
  position:absolute;
  left:2px;
  top:528px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19007 {
  position:absolute;
  left:1507px;
  top:0px;
  width:1440px;
  height:60px;
}
#u19008 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u19009 {
  position:absolute;
  left:1657px;
  top:15px;
  width:103px;
  height:30px;
}
#u19010 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u19011 {
  position:absolute;
  left:2744px;
  top:20px;
  width:52px;
  height:20px;
}
#u19012 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19014 {
  position:absolute;
  left:1803px;
  top:10px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19015 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u19016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19016 {
  position:absolute;
  left:1836px;
  top:18px;
  width:24px;
  height:24px;
}
#u19017 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19019 {
  position:absolute;
  left:2623px;
  top:10px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u19020 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u19022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:68px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19023 {
  position:absolute;
  left:1507px;
  top:60px;
  width:1440px;
  height:68px;
}
#u19024 {
  position:absolute;
  left:2px;
  top:26px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u19026 {
  position:absolute;
  left:1657px;
  top:84px;
  width:22px;
  height:20px;
}
#u19027 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9933;
}
#u19028 {
  position:absolute;
  left:1689px;
  top:81px;
  width:55px;
  height:25px;
  font-size:18px;
  color:#FF9933;
}
#u19029 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u19030 {
  position:absolute;
  left:1769px;
  top:86px;
  width:29px;
  height:20px;
  color:#169BD5;
}
#u19031 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19032 {
  position:absolute;
  left:1819px;
  top:86px;
  width:29px;
  height:20px;
}
#u19033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19034 {
  position:absolute;
  left:1869px;
  top:86px;
  width:29px;
  height:20px;
}
#u19035 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19036 {
  position:absolute;
  left:1919px;
  top:86px;
  width:45px;
  height:20px;
}
#u19037 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u19038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19038 {
  position:absolute;
  left:1989px;
  top:86px;
  width:71px;
  height:20px;
}
#u19039 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19040 {
  position:absolute;
  left:2290px;
  top:86px;
  width:29px;
  height:20px;
}
#u19041 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19042 {
  position:absolute;
  left:2350px;
  top:86px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19043 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19044 {
  position:absolute;
  left:2450px;
  top:86px;
  width:43px;
  height:20px;
}
#u19045 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19046 {
  position:absolute;
  left:2520px;
  top:86px;
  width:57px;
  height:20px;
}
#u19047 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u19049 {
  position:absolute;
  left:2187px;
  top:83px;
  width:13px;
  height:22px;
}
#u19050 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF9933;
}
#u19051 {
  position:absolute;
  left:2208px;
  top:82px;
  width:55px;
  height:25px;
  font-size:18px;
  color:#FF9933;
}
#u19052 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u19053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19053 {
  position:absolute;
  left:2602px;
  top:86px;
  width:43px;
  height:20px;
}
#u19054 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19055 {
  position:absolute;
  left:1580px;
  top:138px;
  width:20px;
  height:20px;
}
#u19056 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u19058 {
  position:absolute;
  left:1533px;
  top:174px;
  width:60px;
  height:60px;
}
#u19059 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19060 {
  position:absolute;
  left:1547px;
  top:235px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19061 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u19063 {
  position:absolute;
  left:1532px;
  top:276px;
  width:60px;
  height:60px;
}
#u19064 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19065 {
  position:absolute;
  left:1546px;
  top:337px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19066 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u19068 {
  position:absolute;
  left:1532px;
  top:380px;
  width:60px;
  height:60px;
}
#u19069 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19070 {
  position:absolute;
  left:1546px;
  top:441px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19071 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u19073 {
  position:absolute;
  left:1532px;
  top:482px;
  width:60px;
  height:60px;
}
#u19074 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19075 {
  position:absolute;
  left:1534px;
  top:543px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19076 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1072px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19077 {
  position:absolute;
  left:1607px;
  top:128px;
  width:300px;
  height:1072px;
}
#u19078 {
  position:absolute;
  left:2px;
  top:528px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u19079 {
  position:absolute;
  left:1883px;
  top:138px;
  width:17px;
  height:17px;
}
#u19080 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19081 {
  position:absolute;
  left:1632px;
  top:520px;
  width:86px;
  height:40px;
}
#u19082 {
  position:absolute;
  left:2px;
  top:11px;
  width:82px;
  word-wrap:break-word;
}
#u19083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19083 {
  position:absolute;
  left:1649px;
  top:193px;
  width:163px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19084 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u19085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19085 {
  position:absolute;
  left:1648px;
  top:156px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19086 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u19087 {
  position:absolute;
  left:1625px;
  top:158px;
  width:100px;
  height:16px;
}
#u19088 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19087_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19089 {
  position:absolute;
  left:1625px;
  top:193px;
  width:100px;
  height:16px;
}
#u19090 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19089_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u19091 {
  position:absolute;
  left:1641px;
  top:241px;
  width:53px;
  height:53px;
  font-size:14px;
  color:#CCCCCC;
}
#u19092 {
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u19091_ann {
  position:absolute;
  left:1687px;
  top:237px;
  width:1px;
  height:1px;
}
#u19093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u19093 {
  position:absolute;
  left:1707px;
  top:241px;
  width:53px;
  height:53px;
  font-size:14px;
  color:#CCCCCC;
}
#u19094 {
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u19095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u19095 {
  position:absolute;
  left:1777px;
  top:241px;
  width:53px;
  height:53px;
  font-size:14px;
  color:#CCCCCC;
}
#u19096 {
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u19097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u19097 {
  position:absolute;
  left:1640px;
  top:331px;
  width:53px;
  height:53px;
  font-size:14px;
  color:#CCCCCC;
}
#u19098 {
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u19099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u19099 {
  position:absolute;
  left:1706px;
  top:331px;
  width:53px;
  height:53px;
  font-size:14px;
  color:#CCCCCC;
}
#u19100 {
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u19101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u19101 {
  position:absolute;
  left:1673px;
  top:299px;
  width:21px;
  height:14px;
  font-size:8px;
}
#u19102 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  white-space:nowrap;
}
#u19103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:53px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19103 {
  position:absolute;
  left:1641px;
  top:241px;
  width:54px;
  height:53px;
  opacity:0.5;
}
#u19104 {
  position:absolute;
  left:2px;
  top:18px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u19105 {
  position:absolute;
  left:1658px;
  top:258px;
  width:25px;
  height:19px;
  color:#FFFFFF;
}
#u19106 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:610px;
}
#u19110 {
  position:absolute;
  left:2116px;
  top:304px;
  width:424px;
  height:610px;
}
#u19111 {
  position:absolute;
  left:2px;
  top:297px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19112 {
  position:absolute;
  left:2154px;
  top:340px;
  width:376px;
  height:540px;
}
#u19113 {
  position:absolute;
  left:2px;
  top:262px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:610px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u19114 {
  position:absolute;
  left:2118px;
  top:304px;
  width:424px;
  height:610px;
  opacity:0.6;
  font-size:14px;
  color:#CCCCCC;
}
#u19115 {
  position:absolute;
  left:2px;
  top:297px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19116 {
  position:absolute;
  left:2260px;
  top:768px;
  width:355px;
  height:21px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u19117 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u19118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19118 {
  position:absolute;
  left:2270px;
  top:804px;
  width:355px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19119 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u19120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19120 {
  position:absolute;
  left:2273px;
  top:836px;
  width:355px;
  height:14px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u19121 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u19122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:142px;
}
#u19122 {
  position:absolute;
  left:2258px;
  top:362px;
  width:145px;
  height:142px;
}
#u19123 {
  position:absolute;
  left:2px;
  top:63px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19124 {
  position:absolute;
  left:2314px;
  top:611px;
  width:355px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19125 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u19126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19126 {
  position:absolute;
  left:2227px;
  top:512px;
  width:249px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19127 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u19128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u19128 {
  position:absolute;
  left:2275px;
  top:611px;
  width:26px;
  height:27px;
  color:#FFFFFF;
}
#u19129 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19130 {
  position:absolute;
  left:2311px;
  top:649px;
  width:355px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19131 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u19132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u19132 {
  position:absolute;
  left:2270px;
  top:656px;
  width:31px;
  height:31px;
}
#u19133 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19134 {
  position:absolute;
  left:2318px;
  top:693px;
  width:355px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19135 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u19136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u19136 {
  position:absolute;
  left:2270px;
  top:698px;
  width:34px;
  height:22px;
}
#u19137 {
  position:absolute;
  left:2px;
  top:3px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19138 {
  position:absolute;
  left:2447px;
  top:512px;
  width:355px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u19139 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u19140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:86px;
}
#u19140 {
  position:absolute;
  left:2112px;
  top:309px;
  width:95px;
  height:86px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u19141 {
  position:absolute;
  left:2px;
  top:35px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19142 {
  position:absolute;
  left:2132px;
  top:318px;
  width:43px;
  height:16px;
}
#u19143 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
