body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:12663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23808 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23809 {
  position:absolute;
  left:2px;
  top:736px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23810 {
  position:absolute;
  left:1592px;
  top:0px;
  width:1440px;
  height:1487px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u23811 {
  position:absolute;
  left:2px;
  top:736px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1648px;
}
#u23812 {
  position:absolute;
  left:3168px;
  top:0px;
  width:1440px;
  height:1648px;
}
#u23813 {
  position:absolute;
  left:2px;
  top:816px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23814 {
  position:absolute;
  left:4820px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23815 {
  position:absolute;
  left:2px;
  top:736px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23816 {
  position:absolute;
  left:6409px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23817 {
  position:absolute;
  left:2px;
  top:736px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23818 {
  position:absolute;
  left:7997px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23819 {
  position:absolute;
  left:2px;
  top:736px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23820 {
  position:absolute;
  left:9597px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23821 {
  position:absolute;
  left:2px;
  top:736px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23822 {
  position:absolute;
  left:11223px;
  top:0px;
  width:1440px;
  height:1487px;
}
#u23823 {
  position:absolute;
  left:2px;
  top:736px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u23824 {
  position:absolute;
  left:2806px;
  top:385px;
  width:16px;
  height:16px;
}
#u23825 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23826 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:51px;
  background:inherit;
  background-color:rgba(109, 109, 109, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(109, 109, 109, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u23827 {
  position:absolute;
  left:2698px;
  top:327px;
  width:322px;
  height:51px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u23828 {
  position:absolute;
  left:8px;
  top:8px;
  width:306px;
  white-space:nowrap;
}
#u23829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u23829 {
  position:absolute;
  left:2809px;
  top:377px;
  width:10px;
  height:6px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u23830 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
