body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1525px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1525px;
  height:1047px;
}
#u19203 {
  position:absolute;
  left:0px;
  top:0px;
  width:1525px;
  height:1047px;
}
#u19204 {
  position:absolute;
  left:2px;
  top:516px;
  width:1521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1525px;
  height:4px;
}
#u19205 {
  position:absolute;
  left:0px;
  top:1047px;
  width:1525px;
  height:4px;
}
#u19206 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1525px;
  height:306px;
}
#u19207 {
  position:absolute;
  left:0px;
  top:1120px;
  width:1525px;
  height:306px;
}
#u19208 {
  position:absolute;
  left:2px;
  top:145px;
  width:1521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:57px;
}
#u19209 {
  position:absolute;
  left:330px;
  top:990px;
  width:362px;
  height:57px;
}
#u19210 {
  position:absolute;
  left:2px;
  top:20px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19211 {
  position:absolute;
  left:345px;
  top:1004px;
  width:347px;
  height:16px;
}
#u19212 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u19213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19214 {
  position:absolute;
  left:345px;
  top:1037px;
  width:187px;
  height:47px;
  font-size:10px;
}
#u19215 {
  position:absolute;
  left:2px;
  top:16px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:47px;
}
#u19216 {
  position:absolute;
  left:396px;
  top:1037px;
  width:86px;
  height:47px;
  font-size:10px;
}
#u19217 {
  position:absolute;
  left:2px;
  top:16px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19218 {
  position:absolute;
  left:419px;
  top:1051px;
  width:47px;
  height:26px;
  font-size:10px;
}
#u19219 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u19220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19220 {
  position:absolute;
  left:426px;
  top:1090px;
  width:25px;
  height:13px;
  font-size:10px;
}
#u19221 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u19222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u19222 {
  position:absolute;
  left:529px;
  top:1054px;
  width:19px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
}
#u19223 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
