body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(32, 192, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 192, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28921 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u28922 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u28924 {
  position:absolute;
  left:1097px;
  top:0px;
  width:90px;
  height:60px;
}
#u28925 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u28927 {
  position:absolute;
  left:1108px;
  top:22px;
  width:11px;
  height:18px;
  color:#FFFFFF;
}
#u28928 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28929 {
  position:absolute;
  left:1127px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28930 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u28931 {
  position:absolute;
  left:47px;
  top:10px;
  width:120px;
  height:40px;
}
#u28932 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28933 {
  position:absolute;
  left:223px;
  top:22px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28934 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u28935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 164, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28935 {
  position:absolute;
  left:422px;
  top:22px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28936 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u28937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u28939 {
  position:absolute;
  left:1186px;
  top:0px;
  width:69px;
  height:60px;
}
#u28940 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28942 {
  position:absolute;
  left:1216px;
  top:23px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u28943 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u28944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u28944 {
  position:absolute;
  left:1199px;
  top:28px;
  width:11px;
  height:8px;
}
#u28945 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u28946 {
  position:absolute;
  left:1273px;
  top:24px;
  width:17px;
  height:15px;
  color:#FFFFFF;
}
#u28947 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u28948 {
  position:absolute;
  left:1253px;
  top:10px;
  width:1px;
  height:40px;
}
#u28949 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u28951 {
  position:absolute;
  left:1321px;
  top:16px;
  width:32px;
  height:32px;
}
#u28952 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28953 {
  position:absolute;
  left:1359px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28954 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:984px;
  background:inherit;
  background-color:rgba(235, 241, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 241, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28957 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  height:984px;
}
#u28958 {
  position:absolute;
  left:2px;
  top:484px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(89, 102, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(89, 102, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28960 {
  position:absolute;
  left:0px;
  top:90px;
  width:240px;
  height:40px;
}
#u28961 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u28963 {
  position:absolute;
  left:37px;
  top:102px;
  width:20px;
  height:16px;
}
#u28964 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28965 {
  position:absolute;
  left:67px;
  top:101px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u28966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u28969 {
  position:absolute;
  left:0px;
  top:130px;
  width:240px;
  height:40px;
}
#u28970 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u28972 {
  position:absolute;
  left:67px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u28973 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u28974 {
  position:absolute;
  left:36px;
  top:143px;
  width:20px;
  height:17px;
}
#u28975 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u28978 {
  position:absolute;
  left:0px;
  top:170px;
  width:240px;
  height:40px;
}
#u28979 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u28981 {
  position:absolute;
  left:67px;
  top:181px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u28982 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u28983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u28985 {
  position:absolute;
  left:0px;
  top:210px;
  width:240px;
  height:40px;
}
#u28986 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u28988 {
  position:absolute;
  left:67px;
  top:221px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u28989 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u28990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u28992 {
  position:absolute;
  left:0px;
  top:250px;
  width:240px;
  height:40px;
}
#u28993 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u28995 {
  position:absolute;
  left:67px;
  top:261px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u28996 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u28999 {
  position:absolute;
  left:0px;
  top:290px;
  width:240px;
  height:40px;
}
#u29000 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29002 {
  position:absolute;
  left:67px;
  top:301px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29003 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u29004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u29006 {
  position:absolute;
  left:0px;
  top:330px;
  width:240px;
  height:40px;
}
#u29007 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29009 {
  position:absolute;
  left:67px;
  top:341px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29010 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u29011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u29013 {
  position:absolute;
  left:0px;
  top:370px;
  width:240px;
  height:40px;
}
#u29014 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29016 {
  position:absolute;
  left:68px;
  top:381px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29017 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u29018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u29020 {
  position:absolute;
  left:0px;
  top:410px;
  width:240px;
  height:40px;
}
#u29021 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29023 {
  position:absolute;
  left:68px;
  top:421px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29024 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u29027 {
  position:absolute;
  left:0px;
  top:450px;
  width:240px;
  height:40px;
}
#u29028 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29030 {
  position:absolute;
  left:68px;
  top:461px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u29031 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29032 {
  position:absolute;
  left:35px;
  top:181px;
  width:20px;
  height:20px;
}
#u29033 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29034 {
  position:absolute;
  left:37px;
  top:221px;
  width:20px;
  height:20px;
}
#u29035 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u29036 {
  position:absolute;
  left:37px;
  top:263px;
  width:20px;
  height:18px;
}
#u29037 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u29038 {
  position:absolute;
  left:37px;
  top:300px;
  width:20px;
  height:24px;
}
#u29039 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u29040 {
  position:absolute;
  left:37px;
  top:343px;
  width:20px;
  height:16px;
}
#u29041 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u29042 {
  position:absolute;
  left:37px;
  top:378px;
  width:20px;
  height:22px;
}
#u29043 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29044 {
  position:absolute;
  left:35px;
  top:420px;
  width:20px;
  height:20px;
}
#u29045 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29046 {
  position:absolute;
  left:35px;
  top:461px;
  width:20px;
  height:20px;
}
#u29047 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u29048 {
  position:absolute;
  left:0px;
  top:508px;
  width:240px;
  height:1px;
}
#u29049 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u29050 {
  position:absolute;
  left:37px;
  top:529px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u29051 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29052 {
  position:absolute;
  left:54px;
  top:572px;
  width:85px;
  height:20px;
}
#u29053 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u29054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29054 {
  position:absolute;
  left:54px;
  top:605px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29055 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29056 {
  position:absolute;
  left:54px;
  top:639px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29057 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29058 {
  position:absolute;
  left:54px;
  top:672px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29059 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29060 {
  position:absolute;
  left:54px;
  top:705px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u29061 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u29062 {
  position:absolute;
  left:210px;
  top:65px;
  width:20px;
  height:20px;
}
#u29063 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29064 {
  position:absolute;
  left:240px;
  top:60px;
  width:1200px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29065 {
  position:absolute;
  left:20px;
  top:11px;
  width:1178px;
  word-wrap:break-word;
}
#u29066 {
  position:absolute;
  left:261px;
  top:121px;
  width:100px;
  height:18px;
}
#u29067 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29066_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29068 {
  position:absolute;
  left:384px;
  top:121px;
  width:132px;
  height:18px;
}
#u29069 {
  position:absolute;
  left:16px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u29068_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:42px;
  background:inherit;
  background-color:rgba(254, 237, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29070 {
  position:absolute;
  left:261px;
  top:149px;
  width:396px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29071 {
  position:absolute;
  left:10px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u29072 {
  position:absolute;
  left:261px;
  top:201px;
  width:324px;
  height:33px;
}
#u29072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29073 {
  position:absolute;
  left:261px;
  top:250px;
  width:140px;
  height:40px;
}
#u29074 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u29075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:56px;
  background:inherit;
  background-color:rgba(254, 237, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29075 {
  position:absolute;
  left:1506px;
  top:149px;
  width:396px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u29076 {
  position:absolute;
  left:10px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u29077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u29077 {
  position:absolute;
  left:488px;
  top:0px;
  width:396px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u29078 {
  position:absolute;
  left:10px;
  top:12px;
  width:376px;
  word-wrap:break-word;
}
