body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(32, 192, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 192, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18011 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u18012 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u18014 {
  position:absolute;
  left:1097px;
  top:0px;
  width:90px;
  height:60px;
}
#u18015 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u18017 {
  position:absolute;
  left:1108px;
  top:22px;
  width:11px;
  height:18px;
  color:#FFFFFF;
}
#u18018 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18019 {
  position:absolute;
  left:1127px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18020 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u18021 {
  position:absolute;
  left:47px;
  top:10px;
  width:120px;
  height:40px;
}
#u18022 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18023 {
  position:absolute;
  left:223px;
  top:22px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18024 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u18025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 164, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18025 {
  position:absolute;
  left:422px;
  top:22px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18026 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u18027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18028 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u18029 {
  position:absolute;
  left:1186px;
  top:0px;
  width:69px;
  height:60px;
}
#u18030 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18032 {
  position:absolute;
  left:1216px;
  top:23px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18033 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u18034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u18034 {
  position:absolute;
  left:1199px;
  top:28px;
  width:11px;
  height:8px;
}
#u18035 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u18036 {
  position:absolute;
  left:1273px;
  top:24px;
  width:17px;
  height:15px;
  color:#FFFFFF;
}
#u18037 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u18038 {
  position:absolute;
  left:1253px;
  top:10px;
  width:1px;
  height:40px;
}
#u18039 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u18041 {
  position:absolute;
  left:1321px;
  top:16px;
  width:32px;
  height:32px;
}
#u18042 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18043 {
  position:absolute;
  left:1359px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18044 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:1840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18045 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:1840px;
}
#u18046 {
  position:absolute;
  left:2px;
  top:912px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18047 {
  position:absolute;
  left:63px;
  top:70px;
  width:20px;
  height:20px;
}
#u18048 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18050 {
  position:absolute;
  left:16px;
  top:106px;
  width:60px;
  height:60px;
}
#u18051 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18050_ann {
  position:absolute;
  left:69px;
  top:102px;
  width:1px;
  height:1px;
}
#u18052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18052 {
  position:absolute;
  left:30px;
  top:167px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18053 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18055 {
  position:absolute;
  left:16px;
  top:212px;
  width:60px;
  height:60px;
}
#u18056 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18057 {
  position:absolute;
  left:20px;
  top:273px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18058 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18060 {
  position:absolute;
  left:17px;
  top:325px;
  width:60px;
  height:60px;
}
#u18061 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u18062 {
  position:absolute;
  left:19px;
  top:386px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u18063 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18064 {
  position:absolute;
  left:91px;
  top:60px;
  width:300px;
  height:1240px;
}
#u18065 {
  position:absolute;
  left:2px;
  top:612px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18066 {
  position:absolute;
  left:119px;
  top:104px;
  width:146px;
  height:18px;
}
#u18067 {
  position:absolute;
  left:16px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u18066_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18068 {
  position:absolute;
  left:108px;
  top:74px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18069 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18070 {
  position:absolute;
  left:119px;
  top:132px;
  width:146px;
  height:18px;
}
#u18071 {
  position:absolute;
  left:16px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u18070_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18072 {
  position:absolute;
  left:119px;
  top:160px;
  width:152px;
  height:18px;
}
#u18073 {
  position:absolute;
  left:16px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u18072_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18074 {
  position:absolute;
  left:108px;
  top:529px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18075 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18076 {
  position:absolute;
  left:119px;
  top:559px;
  width:223px;
  height:18px;
}
#u18077 {
  position:absolute;
  left:16px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u18076_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18078 {
  position:absolute;
  left:136px;
  top:587px;
  width:228px;
  height:25px;
}
#u18078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18079 {
  position:absolute;
  left:136px;
  top:188px;
  width:228px;
  height:18px;
}
#u18080 {
  position:absolute;
  left:16px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u18079_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18079_ann {
  position:absolute;
  left:357px;
  top:184px;
  width:1px;
  height:1px;
}
#u18081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18081 {
  position:absolute;
  left:150px;
  top:212px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18082 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18083 {
  position:absolute;
  left:444px;
  top:181px;
  width:823px;
  height:268px;
}
#u18084 {
  position:absolute;
  left:2px;
  top:126px;
  width:819px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18085 {
  position:absolute;
  left:708px;
  top:248px;
  width:397px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18086 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u18087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18087 {
  position:absolute;
  left:108px;
  top:252px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18088 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18089 {
  position:absolute;
  left:108px;
  top:306px;
  width:263px;
  height:25px;
}
#u18089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18090 {
  position:absolute;
  left:108px;
  top:282px;
  width:57px;
  height:20px;
}
#u18091 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18092 {
  position:absolute;
  left:108px;
  top:345px;
  width:57px;
  height:20px;
}
#u18093 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18094 {
  position:absolute;
  left:108px;
  top:375px;
  width:263px;
  height:138px;
}
#u18094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:138px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18094_ann {
  position:absolute;
  left:364px;
  top:371px;
  width:1px;
  height:1px;
}
#u18095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u18095 {
  position:absolute;
  left:708px;
  top:283px;
  width:211px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u18096 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u18097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18097 {
  position:absolute;
  left:708px;
  top:332px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18098 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u18099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18099 {
  position:absolute;
  left:868px;
  top:332px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18100 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u18101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18101 {
  position:absolute;
  left:1029px;
  top:353px;
  width:96px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18102 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u18101_ann {
  position:absolute;
  left:1118px;
  top:349px;
  width:1px;
  height:1px;
}
#u18103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:247px;
}
#u18103 {
  position:absolute;
  left:733px;
  top:484px;
  width:246px;
  height:246px;
}
#u18104 {
  position:absolute;
  left:2px;
  top:116px;
  width:242px;
  word-wrap:break-word;
}
#u18105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u18105 {
  position:absolute;
  left:751px;
  top:747px;
  width:211px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u18106 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u18107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u18107 {
  position:absolute;
  left:587px;
  top:236px;
  width:95px;
  height:95px;
}
#u18108 {
  position:absolute;
  left:2px;
  top:40px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18109 {
  position:absolute;
  left:647px;
  top:10px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18110 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u18111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18111 {
  position:absolute;
  left:720px;
  top:10px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18112 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
