body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(32, 192, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 192, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18400 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u18401 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18402 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u18403 {
  position:absolute;
  left:1097px;
  top:0px;
  width:90px;
  height:60px;
}
#u18404 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u18406 {
  position:absolute;
  left:1108px;
  top:22px;
  width:11px;
  height:18px;
  color:#FFFFFF;
}
#u18407 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18408 {
  position:absolute;
  left:1127px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18409 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u18410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u18410 {
  position:absolute;
  left:47px;
  top:10px;
  width:120px;
  height:40px;
}
#u18411 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18412 {
  position:absolute;
  left:223px;
  top:22px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18413 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u18414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 164, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18414 {
  position:absolute;
  left:422px;
  top:22px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18415 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u18416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18417 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u18418 {
  position:absolute;
  left:1186px;
  top:0px;
  width:69px;
  height:60px;
}
#u18419 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18420 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18421 {
  position:absolute;
  left:1216px;
  top:23px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18422 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u18423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u18423 {
  position:absolute;
  left:1199px;
  top:28px;
  width:11px;
  height:8px;
}
#u18424 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u18425 {
  position:absolute;
  left:1273px;
  top:24px;
  width:17px;
  height:15px;
  color:#FFFFFF;
}
#u18426 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u18427 {
  position:absolute;
  left:1253px;
  top:10px;
  width:1px;
  height:40px;
}
#u18428 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u18430 {
  position:absolute;
  left:1321px;
  top:16px;
  width:32px;
  height:32px;
}
#u18431 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18432 {
  position:absolute;
  left:1359px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18433 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18434 {
  position:absolute;
  left:647px;
  top:10px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18435 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u18436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18436 {
  position:absolute;
  left:720px;
  top:10px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18437 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u18438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:1840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18438 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:1840px;
}
#u18439 {
  position:absolute;
  left:2px;
  top:912px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18440 {
  position:absolute;
  left:63px;
  top:70px;
  width:20px;
  height:20px;
}
#u18441 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18443 {
  position:absolute;
  left:16px;
  top:106px;
  width:60px;
  height:60px;
}
#u18444 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18445 {
  position:absolute;
  left:30px;
  top:167px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18446 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u18447 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18448 {
  position:absolute;
  left:16px;
  top:212px;
  width:60px;
  height:60px;
}
#u18449 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u18450 {
  position:absolute;
  left:20px;
  top:273px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u18451 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u18453 {
  position:absolute;
  left:17px;
  top:325px;
  width:60px;
  height:60px;
}
#u18454 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18455 {
  position:absolute;
  left:19px;
  top:386px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u18456 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:1387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18457 {
  position:absolute;
  left:91px;
  top:60px;
  width:277px;
  height:1387px;
}
#u18458 {
  position:absolute;
  left:2px;
  top:686px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18459 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18460 {
  position:absolute;
  left:98px;
  top:74px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18461 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18465 {
  position:absolute;
  left:98px;
  top:104px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18466 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u18467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18468 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18470 {
  position:absolute;
  left:98px;
  top:150px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18471 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u18472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18474 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18475 {
  position:absolute;
  left:98px;
  top:196px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18476 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u18477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18480 {
  position:absolute;
  left:98px;
  top:242px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18481 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u18482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18484 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18485 {
  position:absolute;
  left:98px;
  top:288px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18486 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u18487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18487 {
  position:absolute;
  left:533px;
  top:167px;
  width:375px;
  height:667px;
}
#u18488 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u18489 {
  position:absolute;
  left:696px;
  top:217px;
  width:50px;
  height:50px;
}
#u18490 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18491 {
  position:absolute;
  left:662px;
  top:288px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18492 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u18493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u18493 {
  position:absolute;
  left:569px;
  top:323px;
  width:314px;
  height:46px;
  color:#999999;
}
#u18494 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u18495 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18496 {
  position:absolute;
  left:533px;
  top:386px;
  width:375px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18497 {
  position:absolute;
  left:20px;
  top:16px;
  width:353px;
  word-wrap:break-word;
}
#u18498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u18498 {
  position:absolute;
  left:880px;
  top:402px;
  width:11px;
  height:19px;
}
#u18499 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18501 {
  position:absolute;
  left:533px;
  top:436px;
  width:375px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18502 {
  position:absolute;
  left:20px;
  top:16px;
  width:353px;
  word-wrap:break-word;
}
#u18503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u18503 {
  position:absolute;
  left:880px;
  top:452px;
  width:11px;
  height:19px;
}
#u18504 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u18505 {
  position:absolute;
  left:651px;
  top:506px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18506 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u18507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u18507 {
  position:absolute;
  left:641px;
  top:572px;
  width:160px;
  height:160px;
}
#u18508 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  word-wrap:break-word;
}
#u18509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18509 {
  position:absolute;
  left:666px;
  top:742px;
  width:109px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18510 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18511 {
  position:absolute;
  left:1628px;
  top:106px;
  width:300px;
  height:1240px;
}
#u18512 {
  position:absolute;
  left:2px;
  top:612px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18513 {
  position:absolute;
  left:1656px;
  top:150px;
  width:123px;
  height:18px;
}
#u18514 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u18513_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18515 {
  position:absolute;
  left:1645px;
  top:120px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18516 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18517 {
  position:absolute;
  left:1656px;
  top:178px;
  width:123px;
  height:18px;
}
#u18518 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u18517_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18519 {
  position:absolute;
  left:1656px;
  top:206px;
  width:123px;
  height:18px;
}
#u18520 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u18519_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18521 {
  position:absolute;
  left:1645px;
  top:576px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18522 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18523 {
  position:absolute;
  left:1656px;
  top:606px;
  width:223px;
  height:18px;
}
#u18524 {
  position:absolute;
  left:16px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u18523_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18525 {
  position:absolute;
  left:1673px;
  top:634px;
  width:228px;
  height:25px;
}
#u18525_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18526 {
  position:absolute;
  left:1673px;
  top:234px;
  width:228px;
  height:18px;
}
#u18527 {
  position:absolute;
  left:16px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u18526_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18526_ann {
  position:absolute;
  left:1894px;
  top:230px;
  width:1px;
  height:1px;
}
#u18528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18528 {
  position:absolute;
  left:1687px;
  top:258px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18529 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18530 {
  position:absolute;
  left:1645px;
  top:299px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18531 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18532 {
  position:absolute;
  left:1645px;
  top:353px;
  width:263px;
  height:25px;
}
#u18532_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18533 {
  position:absolute;
  left:1645px;
  top:329px;
  width:57px;
  height:20px;
}
#u18534 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18535 {
  position:absolute;
  left:1645px;
  top:392px;
  width:57px;
  height:20px;
}
#u18536 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18537 {
  position:absolute;
  left:1645px;
  top:422px;
  width:263px;
  height:138px;
}
#u18537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:138px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18537_ann {
  position:absolute;
  left:1901px;
  top:418px;
  width:1px;
  height:1px;
}
#u18538 {
  position:absolute;
  left:1656px;
  top:680px;
  width:223px;
  height:18px;
}
#u18539 {
  position:absolute;
  left:16px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u18538_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18540 {
  position:absolute;
  left:1645px;
  top:708px;
  width:263px;
  height:138px;
}
#u18540_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:138px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18540_ann {
  position:absolute;
  left:1901px;
  top:704px;
  width:1px;
  height:1px;
}
