body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(32, 192, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 192, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17910 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u17911 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u17913 {
  position:absolute;
  left:1097px;
  top:0px;
  width:90px;
  height:60px;
}
#u17914 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u17916 {
  position:absolute;
  left:1108px;
  top:22px;
  width:11px;
  height:18px;
  color:#FFFFFF;
}
#u17917 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17918 {
  position:absolute;
  left:1127px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17919 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u17920 {
  position:absolute;
  left:47px;
  top:10px;
  width:120px;
  height:40px;
}
#u17921 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17922 {
  position:absolute;
  left:223px;
  top:22px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17923 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u17924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 164, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17924 {
  position:absolute;
  left:422px;
  top:22px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17925 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u17926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u17928 {
  position:absolute;
  left:1186px;
  top:0px;
  width:69px;
  height:60px;
}
#u17929 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17931 {
  position:absolute;
  left:1216px;
  top:23px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u17932 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u17933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u17933 {
  position:absolute;
  left:1199px;
  top:28px;
  width:11px;
  height:8px;
}
#u17934 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u17935 {
  position:absolute;
  left:1273px;
  top:24px;
  width:17px;
  height:15px;
  color:#FFFFFF;
}
#u17936 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u17937 {
  position:absolute;
  left:1253px;
  top:10px;
  width:1px;
  height:40px;
}
#u17938 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u17940 {
  position:absolute;
  left:1321px;
  top:16px;
  width:32px;
  height:32px;
}
#u17941 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17942 {
  position:absolute;
  left:1359px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u17943 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17944 {
  position:absolute;
  left:647px;
  top:10px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17945 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u17946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17946 {
  position:absolute;
  left:720px;
  top:10px;
  width:74px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17947 {
  position:absolute;
  left:2px;
  top:11px;
  width:70px;
  word-wrap:break-word;
}
#u17948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:1840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17948 {
  position:absolute;
  left:0px;
  top:60px;
  width:92px;
  height:1840px;
}
#u17949 {
  position:absolute;
  left:2px;
  top:912px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17950 {
  position:absolute;
  left:63px;
  top:70px;
  width:20px;
  height:20px;
}
#u17951 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u17953 {
  position:absolute;
  left:16px;
  top:106px;
  width:60px;
  height:60px;
}
#u17954 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u17955 {
  position:absolute;
  left:30px;
  top:167px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u17956 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u17957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u17958 {
  position:absolute;
  left:16px;
  top:212px;
  width:60px;
  height:60px;
}
#u17959 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u17960 {
  position:absolute;
  left:20px;
  top:273px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6600;
}
#u17961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u17963 {
  position:absolute;
  left:17px;
  top:325px;
  width:60px;
  height:60px;
}
#u17964 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u17965 {
  position:absolute;
  left:19px;
  top:386px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u17966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:1387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17967 {
  position:absolute;
  left:91px;
  top:60px;
  width:277px;
  height:1387px;
}
#u17968 {
  position:absolute;
  left:2px;
  top:686px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u17970 {
  position:absolute;
  left:98px;
  top:74px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u17971 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17975 {
  position:absolute;
  left:98px;
  top:104px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17976 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u17977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17980 {
  position:absolute;
  left:98px;
  top:150px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17981 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u17982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17985 {
  position:absolute;
  left:98px;
  top:196px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17986 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u17987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17990 {
  position:absolute;
  left:98px;
  top:242px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17991 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u17992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17995 {
  position:absolute;
  left:98px;
  top:288px;
  width:263px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u17996 {
  position:absolute;
  left:20px;
  top:9px;
  width:241px;
  word-wrap:break-word;
}
#u17997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17997 {
  position:absolute;
  left:533px;
  top:167px;
  width:375px;
  height:667px;
}
#u17998 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17999 {
  position:absolute;
  left:696px;
  top:217px;
  width:50px;
  height:50px;
}
#u18000 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18001 {
  position:absolute;
  left:662px;
  top:288px;
  width:127px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18002 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u18003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u18003 {
  position:absolute;
  left:569px;
  top:323px;
  width:314px;
  height:46px;
  color:#999999;
}
#u18004 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u18005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18006 {
  position:absolute;
  left:533px;
  top:386px;
  width:375px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18007 {
  position:absolute;
  left:20px;
  top:16px;
  width:353px;
  word-wrap:break-word;
}
#u18008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u18008 {
  position:absolute;
  left:880px;
  top:402px;
  width:11px;
  height:19px;
}
#u18009 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18011 {
  position:absolute;
  left:533px;
  top:436px;
  width:375px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u18012 {
  position:absolute;
  left:20px;
  top:16px;
  width:353px;
  word-wrap:break-word;
}
#u18013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u18013 {
  position:absolute;
  left:880px;
  top:452px;
  width:11px;
  height:19px;
}
#u18014 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u18015 {
  position:absolute;
  left:651px;
  top:506px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18016 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u18017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:161px;
}
#u18017 {
  position:absolute;
  left:641px;
  top:572px;
  width:160px;
  height:160px;
}
#u18018 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  word-wrap:break-word;
}
#u18019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18019 {
  position:absolute;
  left:666px;
  top:742px;
  width:109px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u18020 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u18021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:1240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18021 {
  position:absolute;
  left:1628px;
  top:106px;
  width:300px;
  height:1240px;
}
#u18022 {
  position:absolute;
  left:2px;
  top:612px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18023 {
  position:absolute;
  left:1656px;
  top:150px;
  width:123px;
  height:18px;
}
#u18024 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u18023_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18025 {
  position:absolute;
  left:1645px;
  top:120px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18026 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u18027 {
  position:absolute;
  left:1656px;
  top:178px;
  width:123px;
  height:18px;
}
#u18028 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u18027_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18029 {
  position:absolute;
  left:1656px;
  top:206px;
  width:123px;
  height:18px;
}
#u18030 {
  position:absolute;
  left:16px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u18029_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18031 {
  position:absolute;
  left:1645px;
  top:576px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18032 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18033 {
  position:absolute;
  left:1656px;
  top:606px;
  width:223px;
  height:18px;
}
#u18034 {
  position:absolute;
  left:16px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u18033_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18035 {
  position:absolute;
  left:1673px;
  top:634px;
  width:228px;
  height:25px;
}
#u18035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18036 {
  position:absolute;
  left:1673px;
  top:234px;
  width:228px;
  height:18px;
}
#u18037 {
  position:absolute;
  left:16px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u18036_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18036_ann {
  position:absolute;
  left:1894px;
  top:230px;
  width:1px;
  height:1px;
}
#u18038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18038 {
  position:absolute;
  left:1687px;
  top:258px;
  width:83px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18039 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u18040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18040 {
  position:absolute;
  left:1645px;
  top:299px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u18041 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18042 {
  position:absolute;
  left:1645px;
  top:353px;
  width:263px;
  height:25px;
}
#u18042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18043 {
  position:absolute;
  left:1645px;
  top:329px;
  width:57px;
  height:20px;
}
#u18044 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18045 {
  position:absolute;
  left:1645px;
  top:392px;
  width:57px;
  height:20px;
}
#u18046 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18047 {
  position:absolute;
  left:1645px;
  top:422px;
  width:263px;
  height:138px;
}
#u18047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:138px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18047_ann {
  position:absolute;
  left:1901px;
  top:418px;
  width:1px;
  height:1px;
}
#u18048 {
  position:absolute;
  left:1656px;
  top:680px;
  width:223px;
  height:18px;
}
#u18049 {
  position:absolute;
  left:16px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u18048_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18050 {
  position:absolute;
  left:1645px;
  top:708px;
  width:263px;
  height:138px;
}
#u18050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:138px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18050_ann {
  position:absolute;
  left:1901px;
  top:704px;
  width:1px;
  height:1px;
}
