body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1155px;
}
#u13650 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1155px;
}
#u13651 {
  position:absolute;
  left:2px;
  top:570px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
