body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2233px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:170px;
}
#u35333 {
  position:absolute;
  left:151px;
  top:2940px;
  width:1097px;
  height:170px;
}
#u35334 {
  position:absolute;
  left:2px;
  top:77px;
  width:1093px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35336 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u35337 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u35338 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u35339 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u35340 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u35341 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35342 {
  position:absolute;
  left:151px;
  top:81px;
  width:97px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u35343 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u35344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:46px;
}
#u35344 {
  position:absolute;
  left:151px;
  top:143px;
  width:1141px;
  height:46px;
}
#u35345 {
  position:absolute;
  left:2px;
  top:15px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:94px;
}
#u35346 {
  position:absolute;
  left:151px;
  top:213px;
  width:590px;
  height:94px;
}
#u35347 {
  position:absolute;
  left:2px;
  top:39px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:94px;
}
#u35348 {
  position:absolute;
  left:151px;
  top:329px;
  width:463px;
  height:94px;
}
#u35349 {
  position:absolute;
  left:2px;
  top:39px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:18px;
}
#u35350 {
  position:absolute;
  left:151px;
  top:444px;
  width:124px;
  height:18px;
}
#u35351 {
  position:absolute;
  left:2px;
  top:1px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:93px;
}
#u35352 {
  position:absolute;
  left:151px;
  top:480px;
  width:591px;
  height:93px;
}
#u35353 {
  position:absolute;
  left:2px;
  top:38px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:95px;
}
#u35354 {
  position:absolute;
  left:151px;
  top:592px;
  width:591px;
  height:95px;
}
#u35355 {
  position:absolute;
  left:2px;
  top:40px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:591px;
  height:77px;
}
#u35356 {
  position:absolute;
  left:151px;
  top:718px;
  width:591px;
  height:77px;
}
#u35357 {
  position:absolute;
  left:2px;
  top:30px;
  width:587px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:73px;
}
#u35358 {
  position:absolute;
  left:151px;
  top:831px;
  width:622px;
  height:73px;
}
#u35359 {
  position:absolute;
  left:2px;
  top:28px;
  width:618px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:272px;
}
#u35360 {
  position:absolute;
  left:151px;
  top:932px;
  width:546px;
  height:272px;
}
#u35361 {
  position:absolute;
  left:2px;
  top:128px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:474px;
}
#u35362 {
  position:absolute;
  left:151px;
  top:1238px;
  width:761px;
  height:474px;
}
#u35363 {
  position:absolute;
  left:2px;
  top:229px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:75px;
}
#u35364 {
  position:absolute;
  left:151px;
  top:1739px;
  width:590px;
  height:75px;
}
#u35365 {
  position:absolute;
  left:2px;
  top:30px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35366 {
  position:absolute;
  left:151px;
  top:1834px;
  width:57px;
  height:20px;
}
#u35367 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35368 {
  position:absolute;
  left:218px;
  top:1830px;
  width:67px;
  height:30px;
}
#u35369 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u35370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35370 {
  position:absolute;
  left:295px;
  top:1830px;
  width:67px;
  height:30px;
}
#u35371 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u35372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35372 {
  position:absolute;
  left:372px;
  top:1830px;
  width:67px;
  height:30px;
}
#u35373 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u35374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35374 {
  position:absolute;
  left:449px;
  top:1830px;
  width:67px;
  height:30px;
}
#u35375 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u35376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:443px;
}
#u35377 {
  position:absolute;
  left:151px;
  top:1902px;
  width:761px;
  height:443px;
}
#u35378 {
  position:absolute;
  left:2px;
  top:214px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u35379 {
  position:absolute;
  left:151px;
  top:1876px;
  width:99px;
  height:20px;
  color:#999999;
}
#u35380 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u35381 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:46px;
}
#u35382 {
  position:absolute;
  left:151px;
  top:2385px;
  width:1141px;
  height:46px;
}
#u35383 {
  position:absolute;
  left:2px;
  top:15px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
}
#u35384 {
  position:absolute;
  left:201px;
  top:2385px;
  width:300px;
  height:38px;
}
#u35385 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u35386 {
  position:absolute;
  left:203px;
  top:2397px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u35387 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u35388 {
  position:absolute;
  left:151px;
  top:2385px;
  width:40px;
  height:38px;
  color:#FFFFFF;
}
#u35389 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u35390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:218px;
}
#u35390 {
  position:absolute;
  left:155px;
  top:2446px;
  width:1093px;
  height:218px;
}
#u35391 {
  position:absolute;
  left:2px;
  top:101px;
  width:1089px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:46px;
}
#u35393 {
  position:absolute;
  left:151px;
  top:2699px;
  width:1141px;
  height:46px;
}
#u35394 {
  position:absolute;
  left:2px;
  top:15px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
}
#u35395 {
  position:absolute;
  left:201px;
  top:2699px;
  width:300px;
  height:38px;
}
#u35396 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u35397 {
  position:absolute;
  left:203px;
  top:2711px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u35398 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u35399 {
  position:absolute;
  left:151px;
  top:2699px;
  width:40px;
  height:38px;
  color:#FFFFFF;
}
#u35400 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u35401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35401 {
  position:absolute;
  left:151px;
  top:2767px;
  width:57px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35402 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35403 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35404 {
  position:absolute;
  left:238px;
  top:2768px;
  width:53px;
  height:18px;
}
#u35405 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u35404_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35406 {
  position:absolute;
  left:301px;
  top:2768px;
  width:71px;
  height:18px;
}
#u35407 {
  position:absolute;
  left:16px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u35406_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35408 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35409 {
  position:absolute;
  left:238px;
  top:2804px;
  width:99px;
  height:18px;
}
#u35410 {
  position:absolute;
  left:16px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u35409_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35411 {
  position:absolute;
  left:347px;
  top:2795px;
  width:186px;
  height:36px;
}
#u35411_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:36px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35412 {
  position:fixed;
  left:50%;
  margin-left:-751.5px;
  bottom:0px;
}
#u35412_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1503px;
  height:92px;
  background-image:none;
}
#u35412_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:92px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35413 {
  position:absolute;
  left:0px;
  top:0px;
  width:1503px;
  height:92px;
}
#u35414 {
  position:absolute;
  left:2px;
  top:38px;
  width:1499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35415 {
  position:absolute;
  left:602px;
  top:26px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35416 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u35417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35417 {
  position:absolute;
  left:762px;
  top:26px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35418 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u35419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u35419 {
  position:absolute;
  left:151px;
  top:2857px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u35420 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35421 {
  position:absolute;
  left:238px;
  top:2846px;
  width:300px;
  height:43px;
}
#u35421_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u35421_input:disabled {
  color:grayText;
}
#u35422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35422 {
  position:absolute;
  left:1342px;
  top:2818px;
  width:150px;
  height:111px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35423 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u35424_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u35424 {
  position:absolute;
  left:111px;
  top:2852px;
  width:30px;
  height:30px;
}
#u35425 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u35426_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u35426 {
  position:absolute;
  left:1302px;
  top:2818px;
  width:30px;
  height:30px;
}
#u35427 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u35428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35428 {
  position:absolute;
  left:1668px;
  top:2692px;
  width:565px;
  height:406px;
}
#u35429 {
  position:absolute;
  left:2px;
  top:195px;
  width:561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:41px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35430 {
  position:absolute;
  left:1668px;
  top:2692px;
  width:565px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35431 {
  position:absolute;
  left:2px;
  top:12px;
  width:561px;
  word-wrap:break-word;
}
#u35432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u35432 {
  position:absolute;
  left:1772px;
  top:2810px;
  width:50px;
  height:38px;
}
#u35433 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35434 {
  position:absolute;
  left:1844px;
  top:2825px;
  width:211px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35435 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u35436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35436 {
  position:absolute;
  left:1881px;
  top:2914px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35437 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
