body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36952 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u36953 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u36954 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u36955 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u36956 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u36957 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36959 {
  position:absolute;
  left:150px;
  top:90px;
  width:36px;
  height:36px;
}
#u36960 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u36961 {
  position:absolute;
  left:160px;
  top:101px;
  width:16px;
  height:14px;
}
#u36962 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u36963 {
  position:absolute;
  left:206px;
  top:81px;
  width:161px;
  height:26px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u36964 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u36965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
}
#u36965 {
  position:absolute;
  left:377px;
  top:87px;
  width:48px;
  height:20px;
}
#u36966 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:22px;
}
#u36967 {
  position:absolute;
  left:206px;
  top:117px;
  width:377px;
  height:22px;
}
#u36968 {
  position:absolute;
  left:2px;
  top:3px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:38px;
}
#u36969 {
  position:absolute;
  left:1024px;
  top:101px;
  width:167px;
  height:38px;
}
#u36970 {
  position:absolute;
  left:2px;
  top:11px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:38px;
}
#u36971 {
  position:absolute;
  left:1214px;
  top:101px;
  width:90px;
  height:38px;
}
#u36972 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:68px;
}
#u36973 {
  position:absolute;
  left:0px;
  top:149px;
  width:1440px;
  height:68px;
}
#u36974 {
  position:absolute;
  left:2px;
  top:26px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:68px;
}
#u36975 {
  position:absolute;
  left:150px;
  top:149px;
  width:99px;
  height:68px;
}
#u36976 {
  position:absolute;
  left:2px;
  top:26px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:68px;
}
#u36977 {
  position:absolute;
  left:247px;
  top:149px;
  width:99px;
  height:68px;
}
#u36978 {
  position:absolute;
  left:2px;
  top:26px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:68px;
}
#u36979 {
  position:absolute;
  left:344px;
  top:149px;
  width:99px;
  height:68px;
}
#u36980 {
  position:absolute;
  left:2px;
  top:26px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:68px;
}
#u36981 {
  position:absolute;
  left:441px;
  top:149px;
  width:99px;
  height:68px;
}
#u36982 {
  position:absolute;
  left:2px;
  top:26px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u36983 {
  position:absolute;
  left:166px;
  top:174px;
  width:60px;
  height:18px;
}
#u36984 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
}
#u36985 {
  position:absolute;
  left:267px;
  top:174px;
  width:60px;
  height:18px;
}
#u36986 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u36987 {
  position:absolute;
  left:363px;
  top:172px;
  width:60px;
  height:20px;
}
#u36988 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u36989 {
  position:absolute;
  left:466px;
  top:171px;
  width:58px;
  height:22px;
}
#u36990 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u36991 {
  position:absolute;
  left:1222px;
  top:173px;
  width:82px;
  height:20px;
}
#u36992 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u36993 {
  position:absolute;
  left:441px;
  top:87px;
  width:79px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
}
#u36994 {
  position:absolute;
  left:2px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u36995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#27AAC9;
}
#u36995 {
  position:absolute;
  left:530px;
  top:89px;
  width:29px;
  height:20px;
  color:#27AAC9;
}
#u36996 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
