body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(32, 192, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 192, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24000 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u24001 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u24003 {
  position:absolute;
  left:1097px;
  top:0px;
  width:90px;
  height:60px;
}
#u24004 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u24006 {
  position:absolute;
  left:1108px;
  top:22px;
  width:11px;
  height:18px;
  color:#FFFFFF;
}
#u24007 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u24008 {
  position:absolute;
  left:1127px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u24009 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u24010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u24010 {
  position:absolute;
  left:47px;
  top:10px;
  width:120px;
  height:40px;
}
#u24011 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24012 {
  position:absolute;
  left:223px;
  top:22px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24013 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u24014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 164, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u24014 {
  position:absolute;
  left:422px;
  top:22px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u24015 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u24016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u24018 {
  position:absolute;
  left:1186px;
  top:0px;
  width:69px;
  height:60px;
}
#u24019 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u24021 {
  position:absolute;
  left:1216px;
  top:23px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u24022 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u24023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u24023 {
  position:absolute;
  left:1199px;
  top:28px;
  width:11px;
  height:8px;
}
#u24024 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u24025 {
  position:absolute;
  left:1273px;
  top:24px;
  width:17px;
  height:15px;
  color:#FFFFFF;
}
#u24026 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u24027 {
  position:absolute;
  left:1253px;
  top:10px;
  width:1px;
  height:40px;
}
#u24028 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u24030 {
  position:absolute;
  left:1321px;
  top:16px;
  width:32px;
  height:32px;
}
#u24031 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24032 {
  position:absolute;
  left:1359px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24033 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:984px;
  background:inherit;
  background-color:rgba(235, 241, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 241, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24036 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  height:984px;
}
#u24037 {
  position:absolute;
  left:2px;
  top:484px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(89, 102, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(89, 102, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24039 {
  position:absolute;
  left:0px;
  top:90px;
  width:240px;
  height:40px;
}
#u24040 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u24042 {
  position:absolute;
  left:37px;
  top:102px;
  width:20px;
  height:16px;
}
#u24043 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24044 {
  position:absolute;
  left:67px;
  top:101px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24045 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24048 {
  position:absolute;
  left:0px;
  top:130px;
  width:240px;
  height:40px;
}
#u24049 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24051 {
  position:absolute;
  left:67px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24052 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u24053 {
  position:absolute;
  left:36px;
  top:143px;
  width:20px;
  height:17px;
}
#u24054 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24057 {
  position:absolute;
  left:0px;
  top:170px;
  width:240px;
  height:40px;
}
#u24058 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24060 {
  position:absolute;
  left:67px;
  top:181px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24061 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u24062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24064 {
  position:absolute;
  left:0px;
  top:210px;
  width:240px;
  height:40px;
}
#u24065 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24067 {
  position:absolute;
  left:67px;
  top:221px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24068 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24071 {
  position:absolute;
  left:0px;
  top:250px;
  width:240px;
  height:40px;
}
#u24072 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24074 {
  position:absolute;
  left:67px;
  top:261px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24075 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24077 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24078 {
  position:absolute;
  left:0px;
  top:290px;
  width:240px;
  height:40px;
}
#u24079 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24081 {
  position:absolute;
  left:67px;
  top:301px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24082 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u24083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24085 {
  position:absolute;
  left:0px;
  top:330px;
  width:240px;
  height:40px;
}
#u24086 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24088 {
  position:absolute;
  left:67px;
  top:341px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24089 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u24090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24091 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24092 {
  position:absolute;
  left:0px;
  top:370px;
  width:240px;
  height:40px;
}
#u24093 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24094 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24095 {
  position:absolute;
  left:68px;
  top:381px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24096 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u24097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24099 {
  position:absolute;
  left:0px;
  top:410px;
  width:240px;
  height:40px;
}
#u24100 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24101 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24102 {
  position:absolute;
  left:68px;
  top:421px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u24106 {
  position:absolute;
  left:0px;
  top:450px;
  width:240px;
  height:40px;
}
#u24107 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24109 {
  position:absolute;
  left:68px;
  top:461px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u24110 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24111 {
  position:absolute;
  left:35px;
  top:181px;
  width:20px;
  height:20px;
}
#u24112 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24113 {
  position:absolute;
  left:37px;
  top:221px;
  width:20px;
  height:20px;
}
#u24114 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u24115 {
  position:absolute;
  left:37px;
  top:263px;
  width:20px;
  height:18px;
}
#u24116 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u24117 {
  position:absolute;
  left:37px;
  top:300px;
  width:20px;
  height:24px;
}
#u24118 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u24119 {
  position:absolute;
  left:37px;
  top:343px;
  width:20px;
  height:16px;
}
#u24120 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u24121 {
  position:absolute;
  left:37px;
  top:378px;
  width:20px;
  height:22px;
}
#u24122 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24123 {
  position:absolute;
  left:35px;
  top:420px;
  width:20px;
  height:20px;
}
#u24124 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24125 {
  position:absolute;
  left:35px;
  top:461px;
  width:20px;
  height:20px;
}
#u24126 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u24127 {
  position:absolute;
  left:0px;
  top:508px;
  width:240px;
  height:1px;
}
#u24128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u24129 {
  position:absolute;
  left:37px;
  top:529px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u24130 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24131 {
  position:absolute;
  left:54px;
  top:572px;
  width:85px;
  height:20px;
}
#u24132 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24133 {
  position:absolute;
  left:54px;
  top:605px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24134 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24135 {
  position:absolute;
  left:54px;
  top:639px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24136 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24137 {
  position:absolute;
  left:54px;
  top:672px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24138 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24139 {
  position:absolute;
  left:54px;
  top:705px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24140 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24141 {
  position:absolute;
  left:210px;
  top:65px;
  width:20px;
  height:20px;
}
#u24142 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
