body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40806 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u40807 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u40808 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u40809 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u40810 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u40811 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:371px;
}
#u40812 {
  position:absolute;
  left:281px;
  top:107px;
  width:879px;
  height:371px;
}
#u40813 {
  position:absolute;
  left:2px;
  top:178px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u40814 {
  position:absolute;
  left:839px;
  top:226px;
  width:131px;
  height:35px;
}
#u40815 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u40816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u40816 {
  position:absolute;
  left:839px;
  top:294px;
  width:131px;
  height:35px;
}
#u40817 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u40818 {
  position:absolute;
  left:839px;
  top:294px;
  width:131px;
  height:35px;
}
#u40819 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
