body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39293 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u39294 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u39295 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u39296 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u39297 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u39298 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:371px;
}
#u39299 {
  position:absolute;
  left:281px;
  top:107px;
  width:879px;
  height:371px;
}
#u39300 {
  position:absolute;
  left:2px;
  top:178px;
  width:875px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u39301 {
  position:absolute;
  left:839px;
  top:226px;
  width:131px;
  height:35px;
}
#u39302 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u39303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u39303 {
  position:absolute;
  left:839px;
  top:294px;
  width:131px;
  height:35px;
}
#u39304 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:35px;
}
#u39305 {
  position:absolute;
  left:839px;
  top:294px;
  width:131px;
  height:35px;
}
#u39306 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
