body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1744px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:669px;
}
#u8612 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:669px;
}
#u8613 {
  position:absolute;
  left:2px;
  top:326px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u8614 {
  position:absolute;
  left:469px;
  top:1px;
  width:375px;
  height:668px;
}
#u8615 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u8616 {
  position:absolute;
  left:922px;
  top:0px;
  width:375px;
  height:668px;
}
#u8617 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:56px;
}
#u8618 {
  position:absolute;
  left:929px;
  top:612px;
  width:362px;
  height:56px;
}
#u8619 {
  position:absolute;
  left:2px;
  top:20px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8620 {
  position:absolute;
  left:1092px;
  top:688px;
  width:57px;
  height:20px;
}
#u8621 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8622 {
  position:absolute;
  left:1145px;
  top:620px;
  width:140px;
  height:40px;
}
#u8623 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u8624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8624 {
  position:absolute;
  left:929px;
  top:620px;
  width:140px;
  height:40px;
}
#u8625 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u8626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8626 {
  position:absolute;
  left:628px;
  top:688px;
  width:57px;
  height:20px;
}
#u8627 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:670px;
}
#u8628 {
  position:absolute;
  left:1371px;
  top:0px;
  width:373px;
  height:670px;
}
#u8629 {
  position:absolute;
  left:2px;
  top:327px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8630 {
  position:absolute;
  left:1543px;
  top:688px;
  width:43px;
  height:20px;
}
#u8631 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u8632 {
  position:absolute;
  left:0px;
  top:748px;
  width:375px;
  height:668px;
}
#u8633 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8634 {
  position:absolute;
  left:187px;
  top:761px;
  width:96px;
  height:22px;
  text-align:left;
}
#u8635 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u8636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8636 {
  position:absolute;
  left:96px;
  top:1426px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8637 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
