body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4645px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1404px;
}
#u8629 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1404px;
}
#u8630 {
  position:absolute;
  left:2px;
  top:694px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1404px;
}
#u8631 {
  position:absolute;
  left:1599px;
  top:0px;
  width:1440px;
  height:1404px;
}
#u8632 {
  position:absolute;
  left:2px;
  top:694px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1872px;
}
#u8633 {
  position:absolute;
  left:3205px;
  top:0px;
  width:1440px;
  height:1872px;
}
#u8634 {
  position:absolute;
  left:2px;
  top:928px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8635 {
  position:absolute;
  left:3605px;
  top:1041px;
  width:57px;
  height:32px;
}
#u8635_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8635_input:disabled {
  color:grayText;
}
#u8636 {
  position:absolute;
  left:3814px;
  top:1041px;
  width:56px;
  height:32px;
}
#u8636_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8636_input:disabled {
  color:grayText;
}
