body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40732 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u40733 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u40734 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u40735 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u40736 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u40737 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:782px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40738 {
  position:absolute;
  left:0px;
  top:60px;
  width:1440px;
  height:782px;
}
#u40739 {
  position:absolute;
  left:2px;
  top:383px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:435px;
}
#u40740 {
  position:absolute;
  left:249px;
  top:288px;
  width:878px;
  height:435px;
}
#u40741 {
  position:absolute;
  left:2px;
  top:210px;
  width:874px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:199px;
}
#u40742 {
  position:absolute;
  left:247px;
  top:70px;
  width:880px;
  height:199px;
}
#u40743 {
  position:absolute;
  left:10px;
  top:47px;
  width:860px;
  word-wrap:break-word;
}
