body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1137px;
  height:379px;
}
#u6701 {
  position:absolute;
  left:153px;
  top:26px;
  width:1137px;
  height:379px;
}
#u6702 {
  position:absolute;
  left:2px;
  top:182px;
  width:1133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1148px;
  height:767px;
}
#u6703 {
  position:absolute;
  left:148px;
  top:415px;
  width:1148px;
  height:767px;
}
#u6704 {
  position:absolute;
  left:2px;
  top:376px;
  width:1144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:669px;
}
#u6705 {
  position:absolute;
  left:215px;
  top:513px;
  width:778px;
  height:669px;
}
#u6706 {
  position:absolute;
  left:2px;
  top:326px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:82px;
}
#u6707 {
  position:absolute;
  left:1035px;
  top:425px;
  width:247px;
  height:82px;
}
#u6708 {
  position:absolute;
  left:2px;
  top:33px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:593px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6709 {
  position:absolute;
  left:224px;
  top:528px;
  width:757px;
  height:593px;
}
#u6710 {
  position:absolute;
  left:2px;
  top:288px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u6711 {
  position:absolute;
  left:224px;
  top:528px;
  width:757px;
  height:55px;
  font-size:16px;
  text-align:left;
}
#u6712 {
  position:absolute;
  left:2px;
  top:16px;
  width:753px;
  word-wrap:break-word;
}
#u6713 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6714 {
  position:absolute;
  left:249px;
  top:593px;
  width:404px;
  height:40px;
}
#u6714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6715 {
  position:absolute;
  left:623px;
  top:604px;
  width:18px;
  height:18px;
}
#u6716 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:2px;
}
#u6717 {
  position:absolute;
  left:249px;
  top:645px;
  width:713px;
  height:1px;
}
#u6718 {
  position:absolute;
  left:2px;
  top:-8px;
  width:709px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6719 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:160px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6720 {
  position:absolute;
  left:287px;
  top:665px;
  width:140px;
  height:160px;
}
#u6721 {
  position:absolute;
  left:2px;
  top:72px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6722 {
  position:absolute;
  left:321px;
  top:833px;
  width:73px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6723 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u6724 {
  position:absolute;
  left:291px;
  top:863px;
  width:133px;
  height:16px;
  color:#999999;
  text-align:center;
}
#u6725 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u6726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u6726 {
  position:absolute;
  left:308px;
  top:884px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u6727 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6728 {
  position:absolute;
  left:321px;
  top:784px;
  width:71px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6729 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u6730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(254, 237, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 237, 210, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6730 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6731 {
  position:absolute;
  left:2px;
  top:21px;
  width:1436px;
  word-wrap:break-word;
}
#u6732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6732 {
  position:absolute;
  left:599px;
  top:22px;
  width:16px;
  height:16px;
}
#u6733 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6732_ann {
  position:absolute;
  left:608px;
  top:18px;
  width:1px;
  height:1px;
}
#u6734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6734 {
  position:absolute;
  left:833px;
  top:20px;
  width:89px;
  height:21px;
  font-size:12px;
  color:#FF0000;
}
#u6735 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u6736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6736 {
  position:absolute;
  left:792px;
  top:306px;
  width:113px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6737 {
  position:absolute;
  left:40px;
  top:8px;
  width:33px;
  white-space:nowrap;
}
#u6738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6738 {
  position:absolute;
  left:926px;
  top:306px;
  width:113px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u6739 {
  position:absolute;
  left:40px;
  top:8px;
  width:33px;
  white-space:nowrap;
}
