body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40821 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u40822 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u40823 {
  position:absolute;
  left:150px;
  top:15px;
  width:103px;
  height:30px;
}
#u40824 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u40825 {
  position:absolute;
  left:1237px;
  top:20px;
  width:52px;
  height:20px;
}
#u40826 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:280px;
}
#u40829 {
  position:absolute;
  left:226px;
  top:300px;
  width:880px;
  height:280px;
}
#u40830 {
  position:absolute;
  left:2px;
  top:132px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:42px;
}
#u40831 {
  position:absolute;
  left:595px;
  top:325px;
  width:182px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40832 {
  position:absolute;
  left:2px;
  top:12px;
  width:178px;
  word-wrap:break-word;
}
#u40833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:199px;
}
#u40833 {
  position:absolute;
  left:226px;
  top:77px;
  width:880px;
  height:199px;
}
#u40834 {
  position:absolute;
  left:10px;
  top:47px;
  width:860px;
  word-wrap:break-word;
}
#u40835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:755px;
}
#u40835 {
  position:absolute;
  left:226px;
  top:596px;
  width:874px;
  height:755px;
}
#u40836 {
  position:absolute;
  left:2px;
  top:370px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40837 {
  position:absolute;
  left:960px;
  top:1384px;
  width:140px;
  height:40px;
}
#u40838 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u40839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40839 {
  position:absolute;
  left:226px;
  top:1377px;
  width:140px;
  height:40px;
}
#u40840 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u40841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40841 {
  position:absolute;
  left:226px;
  top:590px;
  width:874px;
  height:68px;
}
#u40842 {
  position:absolute;
  left:2px;
  top:26px;
  width:870px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:34px;
}
#u40843 {
  position:absolute;
  left:240px;
  top:685px;
  width:851px;
  height:34px;
}
#u40844 {
  position:absolute;
  left:2px;
  top:9px;
  width:847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:114px;
}
#u40845 {
  position:absolute;
  left:240px;
  top:748px;
  width:842px;
  height:114px;
}
#u40846 {
  position:absolute;
  left:2px;
  top:49px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:57px;
}
#u40847 {
  position:absolute;
  left:448px;
  top:1233px;
  width:198px;
  height:57px;
}
#u40848 {
  position:absolute;
  left:2px;
  top:20px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
