body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(32, 192, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 192, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31834 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u31835 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u31837 {
  position:absolute;
  left:1097px;
  top:0px;
  width:90px;
  height:60px;
}
#u31838 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u31840 {
  position:absolute;
  left:1108px;
  top:22px;
  width:11px;
  height:18px;
  color:#FFFFFF;
}
#u31841 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31842 {
  position:absolute;
  left:1127px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31843 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u31844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u31844 {
  position:absolute;
  left:47px;
  top:10px;
  width:120px;
  height:40px;
}
#u31845 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31846 {
  position:absolute;
  left:223px;
  top:22px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31847 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u31848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 164, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31848 {
  position:absolute;
  left:422px;
  top:22px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31849 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u31850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31851 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u31852 {
  position:absolute;
  left:1186px;
  top:0px;
  width:69px;
  height:60px;
}
#u31853 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31855 {
  position:absolute;
  left:1216px;
  top:23px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u31856 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u31857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u31857 {
  position:absolute;
  left:1199px;
  top:28px;
  width:11px;
  height:8px;
}
#u31858 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u31859 {
  position:absolute;
  left:1273px;
  top:24px;
  width:17px;
  height:15px;
  color:#FFFFFF;
}
#u31860 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u31861 {
  position:absolute;
  left:1253px;
  top:10px;
  width:1px;
  height:40px;
}
#u31862 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u31864 {
  position:absolute;
  left:1321px;
  top:16px;
  width:32px;
  height:32px;
}
#u31865 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31866 {
  position:absolute;
  left:1359px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31867 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:984px;
  background:inherit;
  background-color:rgba(235, 241, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 241, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31870 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  height:984px;
}
#u31871 {
  position:absolute;
  left:2px;
  top:484px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(89, 102, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(89, 102, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31873 {
  position:absolute;
  left:0px;
  top:90px;
  width:240px;
  height:40px;
}
#u31874 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u31876 {
  position:absolute;
  left:37px;
  top:102px;
  width:20px;
  height:16px;
}
#u31877 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31878 {
  position:absolute;
  left:67px;
  top:101px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u31879 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31882 {
  position:absolute;
  left:0px;
  top:130px;
  width:240px;
  height:40px;
}
#u31883 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31885 {
  position:absolute;
  left:67px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31886 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u31887 {
  position:absolute;
  left:36px;
  top:143px;
  width:20px;
  height:17px;
}
#u31888 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31891 {
  position:absolute;
  left:0px;
  top:170px;
  width:240px;
  height:40px;
}
#u31892 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31894 {
  position:absolute;
  left:67px;
  top:181px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31895 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u31896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31898 {
  position:absolute;
  left:0px;
  top:210px;
  width:240px;
  height:40px;
}
#u31899 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31901 {
  position:absolute;
  left:67px;
  top:221px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31902 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u31903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31905 {
  position:absolute;
  left:0px;
  top:250px;
  width:240px;
  height:40px;
}
#u31906 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31908 {
  position:absolute;
  left:67px;
  top:261px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31912 {
  position:absolute;
  left:0px;
  top:290px;
  width:240px;
  height:40px;
}
#u31913 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31915 {
  position:absolute;
  left:67px;
  top:301px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31916 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u31917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31919 {
  position:absolute;
  left:0px;
  top:330px;
  width:240px;
  height:40px;
}
#u31920 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31922 {
  position:absolute;
  left:67px;
  top:341px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31923 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u31924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31926 {
  position:absolute;
  left:0px;
  top:370px;
  width:240px;
  height:40px;
}
#u31927 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31929 {
  position:absolute;
  left:68px;
  top:381px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31930 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u31931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31933 {
  position:absolute;
  left:0px;
  top:410px;
  width:240px;
  height:40px;
}
#u31934 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31936 {
  position:absolute;
  left:68px;
  top:421px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31937 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u31940 {
  position:absolute;
  left:0px;
  top:450px;
  width:240px;
  height:40px;
}
#u31941 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31943 {
  position:absolute;
  left:68px;
  top:461px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u31944 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31945 {
  position:absolute;
  left:35px;
  top:181px;
  width:20px;
  height:20px;
}
#u31946 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31947 {
  position:absolute;
  left:37px;
  top:221px;
  width:20px;
  height:20px;
}
#u31948 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u31949 {
  position:absolute;
  left:37px;
  top:263px;
  width:20px;
  height:18px;
}
#u31950 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u31951 {
  position:absolute;
  left:37px;
  top:300px;
  width:20px;
  height:24px;
}
#u31952 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u31953 {
  position:absolute;
  left:37px;
  top:343px;
  width:20px;
  height:16px;
}
#u31954 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u31955 {
  position:absolute;
  left:37px;
  top:378px;
  width:20px;
  height:22px;
}
#u31956 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31957 {
  position:absolute;
  left:35px;
  top:420px;
  width:20px;
  height:20px;
}
#u31958 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31959 {
  position:absolute;
  left:35px;
  top:461px;
  width:20px;
  height:20px;
}
#u31960 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u31961 {
  position:absolute;
  left:0px;
  top:508px;
  width:240px;
  height:1px;
}
#u31962 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u31963 {
  position:absolute;
  left:37px;
  top:529px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u31964 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31965 {
  position:absolute;
  left:54px;
  top:572px;
  width:85px;
  height:20px;
}
#u31966 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u31967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31967 {
  position:absolute;
  left:54px;
  top:605px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31969 {
  position:absolute;
  left:54px;
  top:639px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31971 {
  position:absolute;
  left:54px;
  top:672px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31973 {
  position:absolute;
  left:54px;
  top:705px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31974 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31975 {
  position:absolute;
  left:210px;
  top:65px;
  width:20px;
  height:20px;
}
#u31976 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:1104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31977 {
  position:absolute;
  left:570px;
  top:79px;
  width:870px;
  height:1104px;
}
#u31978 {
  position:absolute;
  left:2px;
  top:544px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:2px;
}
#u31979 {
  position:absolute;
  left:598px;
  top:120px;
  width:821px;
  height:1px;
}
#u31980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u31981 {
  position:absolute;
  left:598px;
  top:90px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u31982 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u31983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u31983 {
  position:absolute;
  left:264px;
  top:79px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u31984 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u31985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u31985 {
  position:absolute;
  left:264px;
  top:175px;
  width:57px;
  height:20px;
  color:#666666;
}
#u31986 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u31987 {
  position:absolute;
  left:264px;
  top:204px;
  width:291px;
  height:1px;
}
#u31988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u31989 {
  position:absolute;
  left:264px;
  top:120px;
  width:291px;
  height:1px;
}
#u31990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u31991 {
  position:absolute;
  left:264px;
  top:223px;
  width:89px;
  height:20px;
  color:#999999;
}
#u31992 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u31993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u31993 {
  position:absolute;
  left:264px;
  top:252px;
  width:291px;
  height:1px;
  color:#999999;
}
#u31994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u31995 {
  position:absolute;
  left:264px;
  top:263px;
  width:112px;
  height:20px;
  color:#999999;
}
#u31996 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u31997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u31997 {
  position:absolute;
  left:264px;
  top:292px;
  width:291px;
  height:1px;
  color:#999999;
}
#u31998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u31999 {
  position:absolute;
  left:264px;
  top:303px;
  width:57px;
  height:20px;
  color:#999999;
}
#u32000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u32001 {
  position:absolute;
  left:264px;
  top:332px;
  width:291px;
  height:1px;
  color:#999999;
}
#u32002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u32003 {
  position:absolute;
  left:264px;
  top:343px;
  width:57px;
  height:20px;
  color:#999999;
}
#u32004 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u32005 {
  position:absolute;
  left:264px;
  top:372px;
  width:291px;
  height:1px;
  color:#999999;
}
#u32006 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32007 {
  position:absolute;
  left:264px;
  top:383px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32008 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u32009 {
  position:absolute;
  left:264px;
  top:412px;
  width:291px;
  height:1px;
  color:#999999;
}
#u32010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32011 {
  position:absolute;
  left:264px;
  top:134px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32012 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u32013 {
  position:absolute;
  left:264px;
  top:163px;
  width:291px;
  height:1px;
}
#u32014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32016 {
  position:absolute;
  left:598px;
  top:263px;
  width:821px;
  height:387px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32017 {
  position:absolute;
  left:2px;
  top:184px;
  width:817px;
  word-wrap:break-word;
}
#u32018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:71px;
}
#u32018 {
  position:absolute;
  left:598px;
  top:263px;
  width:821px;
  height:70px;
}
#u32019 {
  position:absolute;
  left:2px;
  top:28px;
  width:817px;
  word-wrap:break-word;
}
#u32020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:78px;
}
#u32022 {
  position:absolute;
  left:598px;
  top:134px;
  width:821px;
  height:78px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0E8EBE;
  text-align:left;
}
#u32023 {
  position:absolute;
  left:24px;
  top:12px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0E8EBE;
}
#u32024 {
  position:absolute;
  left:653px;
  top:164px;
  width:492px;
  height:18px;
  color:#0E8EBE;
}
#u32025 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  word-wrap:break-word;
}
#u32026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u32026 {
  position:absolute;
  left:615px;
  top:159px;
  width:28px;
  height:28px;
}
#u32027 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u32028 {
  position:absolute;
  left:598px;
  top:1108px;
  width:88px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u32029 {
  position:absolute;
  left:12px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u32030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32030 {
  position:absolute;
  left:598px;
  top:233px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32031 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32033 {
  position:absolute;
  left:598px;
  top:700px;
  width:821px;
  height:387px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32034 {
  position:absolute;
  left:2px;
  top:184px;
  width:817px;
  word-wrap:break-word;
}
#u32035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:71px;
}
#u32035 {
  position:absolute;
  left:598px;
  top:700px;
  width:821px;
  height:70px;
}
#u32036 {
  position:absolute;
  left:2px;
  top:28px;
  width:817px;
  word-wrap:break-word;
}
#u32037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32037 {
  position:absolute;
  left:598px;
  top:670px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32038 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
