body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(32, 192, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(32, 192, 239, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32864 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u32865 {
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u32867 {
  position:absolute;
  left:1097px;
  top:0px;
  width:90px;
  height:60px;
}
#u32868 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u32870 {
  position:absolute;
  left:1108px;
  top:22px;
  width:11px;
  height:18px;
  color:#FFFFFF;
}
#u32871 {
  position:absolute;
  left:2px;
  top:1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32872 {
  position:absolute;
  left:1127px;
  top:23px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32873 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u32874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u32874 {
  position:absolute;
  left:47px;
  top:10px;
  width:120px;
  height:40px;
}
#u32875 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32876 {
  position:absolute;
  left:223px;
  top:22px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32877 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u32878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(26, 164, 204, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32878 {
  position:absolute;
  left:422px;
  top:22px;
  width:63px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32879 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u32880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:60px;
}
#u32882 {
  position:absolute;
  left:1186px;
  top:0px;
  width:69px;
  height:60px;
}
#u32883 {
  position:absolute;
  left:2px;
  top:22px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32885 {
  position:absolute;
  left:1216px;
  top:23px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u32886 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u32887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u32887 {
  position:absolute;
  left:1199px;
  top:28px;
  width:11px;
  height:8px;
}
#u32888 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u32889 {
  position:absolute;
  left:1273px;
  top:24px;
  width:17px;
  height:15px;
  color:#FFFFFF;
}
#u32890 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u32891 {
  position:absolute;
  left:1253px;
  top:10px;
  width:1px;
  height:40px;
}
#u32892 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u32894 {
  position:absolute;
  left:1321px;
  top:16px;
  width:32px;
  height:32px;
}
#u32895 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32896 {
  position:absolute;
  left:1359px;
  top:22px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32897 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:984px;
  background:inherit;
  background-color:rgba(235, 241, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 241, 245, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32900 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  height:984px;
}
#u32901 {
  position:absolute;
  left:2px;
  top:484px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(89, 102, 120, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(89, 102, 120, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32903 {
  position:absolute;
  left:0px;
  top:90px;
  width:240px;
  height:40px;
}
#u32904 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u32906 {
  position:absolute;
  left:37px;
  top:102px;
  width:20px;
  height:16px;
}
#u32907 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32908 {
  position:absolute;
  left:67px;
  top:101px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u32909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32912 {
  position:absolute;
  left:0px;
  top:130px;
  width:240px;
  height:40px;
}
#u32913 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32915 {
  position:absolute;
  left:67px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32916 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u32917 {
  position:absolute;
  left:36px;
  top:143px;
  width:20px;
  height:17px;
}
#u32918 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32921 {
  position:absolute;
  left:0px;
  top:170px;
  width:240px;
  height:40px;
}
#u32922 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32924 {
  position:absolute;
  left:67px;
  top:181px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32925 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32927 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32928 {
  position:absolute;
  left:0px;
  top:210px;
  width:240px;
  height:40px;
}
#u32929 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32931 {
  position:absolute;
  left:67px;
  top:221px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32932 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32935 {
  position:absolute;
  left:0px;
  top:250px;
  width:240px;
  height:40px;
}
#u32936 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32938 {
  position:absolute;
  left:67px;
  top:261px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32942 {
  position:absolute;
  left:0px;
  top:290px;
  width:240px;
  height:40px;
}
#u32943 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32945 {
  position:absolute;
  left:67px;
  top:301px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32946 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32949 {
  position:absolute;
  left:0px;
  top:330px;
  width:240px;
  height:40px;
}
#u32950 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32952 {
  position:absolute;
  left:67px;
  top:341px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32953 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32956 {
  position:absolute;
  left:0px;
  top:370px;
  width:240px;
  height:40px;
}
#u32957 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32959 {
  position:absolute;
  left:68px;
  top:381px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32960 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u32961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32963 {
  position:absolute;
  left:0px;
  top:410px;
  width:240px;
  height:40px;
}
#u32964 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32966 {
  position:absolute;
  left:68px;
  top:421px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32967 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u32970 {
  position:absolute;
  left:0px;
  top:450px;
  width:240px;
  height:40px;
}
#u32971 {
  position:absolute;
  left:2px;
  top:12px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32973 {
  position:absolute;
  left:68px;
  top:461px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#596678;
}
#u32974 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32975 {
  position:absolute;
  left:35px;
  top:181px;
  width:20px;
  height:20px;
}
#u32976 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32977 {
  position:absolute;
  left:37px;
  top:221px;
  width:20px;
  height:20px;
}
#u32978 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u32979 {
  position:absolute;
  left:37px;
  top:263px;
  width:20px;
  height:18px;
}
#u32980 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u32981 {
  position:absolute;
  left:37px;
  top:300px;
  width:20px;
  height:24px;
}
#u32982 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u32983 {
  position:absolute;
  left:37px;
  top:343px;
  width:20px;
  height:16px;
}
#u32984 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u32985 {
  position:absolute;
  left:37px;
  top:378px;
  width:20px;
  height:22px;
}
#u32986 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32987 {
  position:absolute;
  left:35px;
  top:420px;
  width:20px;
  height:20px;
}
#u32988 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32989 {
  position:absolute;
  left:35px;
  top:461px;
  width:20px;
  height:20px;
}
#u32990 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u32991 {
  position:absolute;
  left:0px;
  top:508px;
  width:240px;
  height:1px;
}
#u32992 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32993 {
  position:absolute;
  left:37px;
  top:529px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u32994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32995 {
  position:absolute;
  left:54px;
  top:572px;
  width:85px;
  height:20px;
}
#u32996 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u32997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32997 {
  position:absolute;
  left:54px;
  top:605px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32998 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32999 {
  position:absolute;
  left:54px;
  top:639px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33001 {
  position:absolute;
  left:54px;
  top:672px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33002 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33003 {
  position:absolute;
  left:54px;
  top:705px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33004 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u33005 {
  position:absolute;
  left:210px;
  top:65px;
  width:20px;
  height:20px;
}
#u33006 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:1104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33007 {
  position:absolute;
  left:570px;
  top:79px;
  width:870px;
  height:1104px;
}
#u33008 {
  position:absolute;
  left:2px;
  top:544px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:2px;
}
#u33009 {
  position:absolute;
  left:598px;
  top:120px;
  width:821px;
  height:1px;
}
#u33010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:817px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u33011 {
  position:absolute;
  left:598px;
  top:90px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u33012 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u33013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u33013 {
  position:absolute;
  left:264px;
  top:79px;
  width:97px;
  height:22px;
  font-size:16px;
}
#u33014 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u33015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u33015 {
  position:absolute;
  left:264px;
  top:175px;
  width:57px;
  height:20px;
  color:#666666;
}
#u33016 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u33017 {
  position:absolute;
  left:264px;
  top:204px;
  width:291px;
  height:1px;
}
#u33018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u33019 {
  position:absolute;
  left:264px;
  top:120px;
  width:291px;
  height:1px;
}
#u33020 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u33021 {
  position:absolute;
  left:264px;
  top:223px;
  width:89px;
  height:20px;
  color:#999999;
}
#u33022 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u33023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u33023 {
  position:absolute;
  left:264px;
  top:252px;
  width:291px;
  height:1px;
  color:#999999;
}
#u33024 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u33025 {
  position:absolute;
  left:264px;
  top:263px;
  width:112px;
  height:20px;
  color:#999999;
}
#u33026 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u33027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u33027 {
  position:absolute;
  left:264px;
  top:292px;
  width:291px;
  height:1px;
  color:#999999;
}
#u33028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u33029 {
  position:absolute;
  left:264px;
  top:303px;
  width:57px;
  height:20px;
  color:#999999;
}
#u33030 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u33031 {
  position:absolute;
  left:264px;
  top:332px;
  width:291px;
  height:1px;
  color:#999999;
}
#u33032 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u33033 {
  position:absolute;
  left:264px;
  top:343px;
  width:57px;
  height:20px;
  color:#999999;
}
#u33034 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u33035 {
  position:absolute;
  left:264px;
  top:372px;
  width:291px;
  height:1px;
  color:#999999;
}
#u33036 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u33037 {
  position:absolute;
  left:264px;
  top:383px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u33038 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u33039 {
  position:absolute;
  left:264px;
  top:412px;
  width:291px;
  height:1px;
  color:#999999;
}
#u33040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u33041 {
  position:absolute;
  left:264px;
  top:134px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u33042 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u33043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:2px;
}
#u33043 {
  position:absolute;
  left:264px;
  top:163px;
  width:291px;
  height:1px;
}
#u33044 {
  position:absolute;
  left:2px;
  top:-8px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33046 {
  position:absolute;
  left:598px;
  top:263px;
  width:821px;
  height:387px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33047 {
  position:absolute;
  left:2px;
  top:184px;
  width:817px;
  word-wrap:break-word;
}
#u33048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:71px;
}
#u33048 {
  position:absolute;
  left:598px;
  top:263px;
  width:821px;
  height:70px;
}
#u33049 {
  position:absolute;
  left:2px;
  top:28px;
  width:817px;
  word-wrap:break-word;
}
#u33050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:78px;
}
#u33052 {
  position:absolute;
  left:598px;
  top:134px;
  width:821px;
  height:78px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0E8EBE;
  text-align:left;
}
#u33053 {
  position:absolute;
  left:24px;
  top:12px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0E8EBE;
}
#u33054 {
  position:absolute;
  left:653px;
  top:164px;
  width:492px;
  height:18px;
  color:#0E8EBE;
}
#u33055 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  word-wrap:break-word;
}
#u33056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u33056 {
  position:absolute;
  left:615px;
  top:159px;
  width:28px;
  height:28px;
}
#u33057 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u33058 {
  position:absolute;
  left:598px;
  top:1108px;
  width:88px;
  height:30px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u33059 {
  position:absolute;
  left:12px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u33060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33060 {
  position:absolute;
  left:598px;
  top:233px;
  width:66px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33061 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u33062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:387px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33063 {
  position:absolute;
  left:598px;
  top:700px;
  width:821px;
  height:387px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u33064 {
  position:absolute;
  left:2px;
  top:184px;
  width:817px;
  word-wrap:break-word;
}
#u33065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:71px;
}
#u33065 {
  position:absolute;
  left:598px;
  top:700px;
  width:821px;
  height:70px;
}
#u33066 {
  position:absolute;
  left:2px;
  top:28px;
  width:817px;
  word-wrap:break-word;
}
#u33067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33067 {
  position:absolute;
  left:598px;
  top:670px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u33068 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
